---
  swagger: "2.0"
  info: 
    description: "API for Coveo Platform"
    title: "Coveo Platform API"
    termsOfService: "Coveo API terms of service"
    contact: 
      name: "Coveo"
      url: "www.coveo.com"
      email: "support@coveo.com"
    license: {}
  host: "platformqa.cloud.coveo.com:443"
  basePath: "/"
  tags: 
    - 
      name: "Saml Certificate"
      description: "Saml Certificate Resource"
    - 
      name: "Saml Identity Providers"
      description: "Saml Identity Provider Resource"
    - 
      name: "OAuth2 Clients"
      description: "O Auth 2 Client Resource"
    - 
      name: "Users"
      description: "User Resource"
    - 
      name: "Realms"
      description: "Realm Resource"
  paths: 
    /rest/oauth2clients: 
      get: 
        tags: 
          - "OAuth2 Clients"
        summary: "Get all oauth2 clients in authorization server"
        operationId: "getClientsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/OAuth2ClientModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getClients"
    /rest/oauth2clients/{clientId}: 
      get: 
        tags: 
          - "OAuth2 Clients"
        summary: "Get oauth2 client in authorization server"
        operationId: "getClientUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "clientId"
            in: "path"
            description: "clientId"
            required: false
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/OAuth2ClientModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getClient"
    /rest/organizations/{organizationId}/saml/certificate: 
      get: 
        tags: 
          - "Saml Certificate"
        summary: "Get the Coveo Cloud Platform Saml public certificate."
        operationId: "getPlatformPublicCertificateUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getPlatformPublicCertificate"
    /rest/organizations/{organizationId}/saml/identityproviders: 
      get: 
        tags: 
          - "Saml Identity Providers"
        summary: "Get all identity providers for this organization"
        operationId: "getIdentityProvidersUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/SamlIdentityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getIdentityProviders"
      post: 
        tags: 
          - "Saml Identity Providers"
        summary: "Add an identity provider"
        operationId: "createIdentityProviderUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "samlIdentityProviderModel"
            description: "samlIdentityProviderModel"
            required: true
            schema: 
              $ref: "#/definitions/SamlIdentityProviderModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SamlIdentityProviderModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "createIdentityProvider"
    /rest/organizations/{organizationId}/saml/identityproviders/{id}: 
      get: 
        tags: 
          - "Saml Identity Providers"
        summary: "Get an identity provider"
        operationId: "getIdentityProviderUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "id"
            in: "path"
            description: "id"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SamlIdentityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getIdentityProvider"
      put: 
        tags: 
          - "Saml Identity Providers"
        summary: "Update an identity provider"
        operationId: "updateIdentityProviderUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "id"
            in: "path"
            description: "id"
            required: true
            type: "string"
          - 
            in: "body"
            name: "samlIdentityProviderModel"
            description: "samlIdentityProviderModel"
            required: true
            schema: 
              $ref: "#/definitions/SamlIdentityProviderModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SamlIdentityProviderModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "updateIdentityProvider"
      delete: 
        tags: 
          - "Saml Identity Providers"
        summary: "Delete an identity provider"
        operationId: "deleteIdentityProviderUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "id"
            in: "path"
            description: "id"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "deleteIdentityProvider"
    /rest/realms: 
      get: 
        tags: 
          - "Realms"
        summary: "Get realms by ids."
        operationId: "getRealmsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "application/json"
        parameters: 
          - 
            name: "realmIds"
            in: "query"
            description: "realmIds"
            required: true
            type: "array"
            items: 
              type: "string"
            collectionFormat: "multi"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/RealmModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getRealms"
    /rest/realms/{realmId}: 
      get: 
        tags: 
          - "Realms"
        summary: "Get the realm matching the specified id."
        operationId: "getRealmUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "application/json"
        parameters: 
          - 
            name: "realmId"
            in: "path"
            description: "Id of the realm to get"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/RealmModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getRealm"
    /rest/realms/{realmId}/members: 
      get: 
        tags: 
          - "Realms"
        summary: "Get all members for a realm."
        operationId: "getRealmMembersUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "application/json"
        parameters: 
          - 
            name: "realmId"
            in: "path"
            description: "Id of the realm to retrieve the users for"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/UserModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getRealmMembers"
    /rest/users/{username}: 
      get: 
        tags: 
          - "Users"
        summary: "Get a single user"
        operationId: "getUserUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "application/json"
        parameters: 
          - 
            name: "username"
            in: "path"
            description: "Username of the user"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/UserModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getUser"
      put: 
        tags: 
          - "Users"
        summary: "updateUserAdditionalInformation"
        operationId: "updateUserAdditionalInformationUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "application/json"
        parameters: 
          - 
            name: "username"
            in: "path"
            description: "username"
            required: true
            type: "string"
          - 
            in: "body"
            name: "userModel"
            description: "userModel"
            required: true
            schema: 
              $ref: "#/definitions/UserModel"
        responses: 
          200: 
            description: "OK"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
    /rest/users/{username}/realms: 
      get: 
        tags: 
          - "Users"
        summary: "Get a single user's realms"
        operationId: "getAllExistingRealmsForUserUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "application/json"
        parameters: 
          - 
            name: "username"
            in: "path"
            description: "username"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/RealmModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getAllExistingRealmsForUser"
  securityDefinitions: 
    oauth2: 
      type: "oauth2"
      authorizationUrl: "https://platformqa.cloud.coveo.com/oauth/authorize"
      flow: "implicit"
      scopes: 
        full: "Required"
  definitions: 
    RealmModel: 
      type: "object"
      properties: 
        displayName: 
          type: "string"
        id: 
          type: "string"
        provider: 
          type: "string"
          enum: 
            - "SALESFORCE"
            - "SALESFORCE_SANDBOX"
            - "GOOGLE"
            - "OFFICE365"
            - "SAML"
            - "OTHER"
    UserModel: 
      type: "object"
      properties: 
        additionalInformation: 
          type: "object"
          additionalProperties: 
            type: "string"
        credentialsExpired: 
          type: "boolean"
        displayName: 
          type: "string"
        email: 
          type: "string"
        emailAliases: 
          type: "array"
          items: 
            type: "string"
        enabled: 
          type: "boolean"
        expired: 
          type: "boolean"
        lastLogin: 
          type: "integer"
          format: "int64"
        locked: 
          type: "boolean"
        provider: 
          type: "string"
          enum: 
            - "SALESFORCE"
            - "SALESFORCE_SANDBOX"
            - "GOOGLE"
            - "OFFICE365"
            - "SAML"
            - "OTHER"
        providerUsername: 
          type: "string"
        realms: 
          type: "array"
          items: 
            $ref: "#/definitions/UserRealmModel"
        samlIdentityProviderId: 
          type: "string"
        socialUser: 
          type: "boolean"
        username: 
          type: "string"
    SamlIdentityProviderModel: 
      type: "object"
      properties: 
        displayName: 
          type: "string"
        entityId: 
          type: "string"
        id: 
          type: "string"
        organizationId: 
          type: "string"
        postBindingEndpoint: 
          type: "string"
        x509Certificate: 
          type: "string"
    OAuth2ClientModel: 
      type: "object"
      properties: 
        accessTokenValiditySeconds: 
          type: "integer"
          format: "int32"
        additionalInformation: 
          type: "object"
        allowedIPs: 
          type: "array"
          items: 
            type: "string"
        authorizedGrantTypes: 
          type: "array"
          items: 
            type: "string"
        autoApproveAllScopes: 
          type: "boolean"
        autoApproveScopes: 
          type: "array"
          items: 
            type: "string"
        clientAuthorities: 
          type: "array"
          items: 
            type: "string"
        clientId: 
          type: "string"
        enabled: 
          type: "boolean"
        organizationRequiredInTokens: 
          type: "boolean"
        refreshTokenValiditySeconds: 
          type: "integer"
          format: "int32"
        registeredRedirectUri: 
          type: "array"
          items: 
            type: "string"
        resourceIds: 
          type: "array"
          items: 
            type: "string"
        scopes: 
          type: "array"
          items: 
            type: "string"
        tokensRevokableOnLogoutEndpoint: 
          type: "boolean"
    UserRealmModel: 
      type: "object"
      properties: 
        member: 
          type: "boolean"
        realm: 
          $ref: "#/definitions/RealmModel"
        realmModel: 
          $ref: "#/definitions/RealmModel"

