---
  swagger: "2.0"
  info: 
    description: "API for Coveo Platform"
    title: "Coveo Platform API"
    termsOfService: "Coveo API terms of service"
    contact: 
      name: "Coveo"
      url: "www.coveo.com"
      email: "support@coveo.com"
    license: {}
  host: "platform.cloud.coveo.com:443"
  basePath: "/"
  tags: 
    - 
      name: "Indexing Pipeline Extensions"
      description: "Extension Service Resource"
  paths: 
    /rest/organizations/{organizationId}/extensions: 
      get: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Get all extensions for an organization"
        operationId: "getExtensionsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/ExtensionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getExtensions"
      post: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Creates an extension for an organization"
        operationId: "createExtensionUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "extensionModel"
            description: "extensionModel"
            required: true
            schema: 
              $ref: "#/definitions/EditExtensionModel"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/JsonStringIdWrapper"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "createExtension"
    /rest/organizations/{organizationId}/extensions/{extensionId}: 
      get: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Get an extension for an organization"
        operationId: "getExtensionUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ExtensionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getExtension"
      put: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Update an extension for an organization"
        operationId: "updateExtensionUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "extensionModel"
            description: "extensionModel"
            required: true
            schema: 
              $ref: "#/definitions/EditExtensionModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ExtensionModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "updateExtension"
      delete: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Delete an extension for an organization"
        operationId: "deleteExtensionUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "deleteExtension"
    /rest/organizations/{organizationId}/extensions/{extensionId}/disable: 
      post: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Disable an extension for an organization"
        operationId: "disableExtensionUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "extensionDisableModel"
            description: "extensionDisableModel"
            required: true
            schema: 
              $ref: "#/definitions/ExtensionDisableModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "disableExtension"
    /rest/organizations/{organizationId}/extensions/{extensionId}/enable: 
      post: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Enable an extension for an organization"
        operationId: "enableExtensionUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "enableExtension"
    /rest/organizations/{organizationId}/extensions/{extensionId}/versions: 
      get: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Get all available versions of an extension"
        operationId: "getExtensionVersionsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/ExtensionContentVersionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getExtensionVersions"
    /rest/organizations/{organizationId}/extensions/{extensionId}/versions/{versionId}: 
      get: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Get the specific version of an extension for an organization"
        operationId: "getExtensionVersionUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
          - 
            name: "versionId"
            in: "path"
            description: "versionId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ExtensionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getExtensionVersion"
  securityDefinitions: 
    oauth2: 
      type: "oauth2"
      authorizationUrl: "https://platform.cloud.coveo.com/oauth/authorize"
      flow: "implicit"
      scopes: 
        full: "Required"
  definitions: 
    ExtensionStatisticsModel: 
      type: "object"
      properties: 
        averageDurationInSeconds: 
          type: "number"
          format: "double"
        numberOfErrors: 
          type: "integer"
          format: "int32"
        numberOfExecutions: 
          type: "integer"
          format: "int32"
        numberOfSkips: 
          type: "integer"
          format: "int32"
        numberOfTimeouts: 
          type: "integer"
          format: "int32"
    ExtensionHealthModel: 
      type: "object"
      properties: 
        healthIndicator: 
          type: "string"
          enum: 
            - "GOOD"
            - "WARNING"
            - "PROBLEMATIC"
            - "UNKNOWN"
        reason: 
          type: "string"
    ExtensionModel: 
      type: "object"
      properties: 
        content: 
          type: "string"
        createdDate: 
          type: "integer"
          format: "int64"
        description: 
          type: "string"
        enabled: 
          type: "boolean"
        id: 
          type: "string"
        lastModified: 
          type: "integer"
          format: "int64"
        name: 
          type: "string"
        requiredDataStreams: 
          type: "array"
          items: 
            type: "string"
            enum: 
              - "BODY_TEXT"
              - "BODY_HTML"
              - "THUMBNAIL"
              - "DOCUMENT_DATA"
        status: 
          $ref: "#/definitions/ExtensionStatusModel"
        usedBy: 
          type: "array"
          items: 
            $ref: "#/definitions/ExtensionUsedByModel"
        versionId: 
          type: "string"
    ExtensionDisabledStatusModel: 
      type: "object"
      properties: 
        disabledDate: 
          type: "integer"
          format: "int64"
        reason: 
          type: "string"
    ExtensionStatusModel: 
      type: "object"
      properties: 
        dailyStatistics: 
          $ref: "#/definitions/ExtensionStatisticsModel"
        disabledStatus: 
          $ref: "#/definitions/ExtensionDisabledStatusModel"
        durationHealth: 
          $ref: "#/definitions/ExtensionHealthModel"
        timeoutHealth: 
          $ref: "#/definitions/ExtensionHealthModel"
    ExtensionUsedByModel: 
      type: "object"
      properties: 
        sourceId: 
          type: "string"
        sourceName: 
          type: "string"
    ExtensionContentVersionModel: 
      type: "object"
      properties: 
        id: 
          type: "string"
        lastModified: 
          type: "integer"
          format: "int64"
    ExtensionDisableModel: 
      type: "object"
      properties: 
        reason: 
          type: "string"
    JsonStringIdWrapper: 
      type: "object"
      properties: 
        id: 
          type: "string"
    EditExtensionModel: 
      type: "object"
      properties: 
        content: 
          type: "string"
        description: 
          type: "string"
        name: 
          type: "string"
        requiredDataStreams: 
          type: "array"
          items: 
            type: "string"
            enum: 
              - "BODY_TEXT"
              - "BODY_HTML"
              - "THUMBNAIL"
              - "DOCUMENT_DATA"

