---
  swagger: "2.0"
  info: 
    description: "API for Coveo Platform"
    title: "Coveo Platform API"
    termsOfService: "Coveo API terms of service"
    contact: 
      name: "Coveo"
      url: "www.coveo.com"
      email: "support@coveo.com"
    license: {}
  host: "platformdev.cloud.coveo.com:443"
  basePath: "/"
  tags: 
    - 
      name: "Indexing Pipeline Extensions"
      description: "Extension Service Resource"
    - 
      name: "Global Extensions"
      description: "Global Extension Service Resource"
  paths: 
    /rest/globalextensions: 
      get: 
        tags: 
          - "Global Extensions"
        summary: "Get all extensions of all organizations"
        operationId: "getExtensionsUsingGET_1"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "page"
            in: "query"
            description: "page"
            required: false
            type: "integer"
            default: 0
            format: "int32"
          - 
            name: "perPage"
            in: "query"
            description: "perPage"
            required: false
            type: "integer"
            default: 100
            format: "int32"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/ExtensionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INFRASTRUCTURE"
          global: "true"
          type: "VIEW"
        uiOperationId: "/rest/globalextensions_get"
        x-pretty-name: "getExtensions"
    /rest/organizations/{organizationId}/extensions: 
      get: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Get all extensions for an organization"
        operationId: "getExtensionsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/ExtensionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INDEXING_PIPELINE_EXTENSION"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/extensions_get"
        x-pretty-name: "getExtensions"
      post: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Creates an extension for an organization"
        operationId: "createExtensionUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "extensionModel"
            description: "extensionModel"
            required: true
            schema: 
              $ref: "#/definitions/EditExtensionModel"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/JsonStringIdWrapper"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INDEXING_PIPELINE_EXTENSION"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/extensions_post"
        x-pretty-name: "createExtension"
    /rest/organizations/{organizationId}/extensions/{extensionId}: 
      get: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Get an extension for an organization"
        operationId: "getExtensionUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ExtensionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INDEXING_PIPELINE_EXTENSION"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/extensions/paramId_get"
        x-pretty-name: "getExtension"
      put: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Update an extension for an organization"
        operationId: "updateExtensionUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "extensionModel"
            description: "extensionModel"
            required: true
            schema: 
              $ref: "#/definitions/EditExtensionModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ExtensionModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INDEXING_PIPELINE_EXTENSION"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/extensions/paramId_put"
        x-pretty-name: "updateExtension"
      delete: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Delete an extension for an organization"
        operationId: "deleteExtensionUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INDEXING_PIPELINE_EXTENSION"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/extensions/paramId_delete"
        x-pretty-name: "deleteExtension"
    /rest/organizations/{organizationId}/extensions/{extensionId}/disable: 
      post: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Disable an extension for an organization"
        operationId: "disableExtensionUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "extensionDisableModel"
            description: "extensionDisableModel"
            required: true
            schema: 
              $ref: "#/definitions/ExtensionDisableModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INFRASTRUCTURE"
          global: "true"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/extensions/paramId/disable_post"
        x-pretty-name: "disableExtension"
    /rest/organizations/{organizationId}/extensions/{extensionId}/enable: 
      post: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Enable an extension for an organization"
        operationId: "enableExtensionUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INFRASTRUCTURE"
          global: "true"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/extensions/paramId/enable_post"
        x-pretty-name: "enableExtension"
    /rest/organizations/{organizationId}/extensions/{extensionId}/test: 
      post: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Test an extension"
        operationId: "testExtensionUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "extensionTestModel"
            description: "extensionTestModel"
            required: true
            schema: 
              $ref: "#/definitions/ExtensionTestModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ExtensionTestExecutionReportModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INDEXING_PIPELINE_EXTENSION"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/extensions/paramId/test_post"
        x-pretty-name: "testExtension"
    /rest/organizations/{organizationId}/extensions/{extensionId}/versions: 
      get: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Get all available versions of an extension"
        operationId: "getExtensionVersionsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/ExtensionContentVersionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INDEXING_PIPELINE_EXTENSION"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/extensions/paramId/versions_get"
        x-pretty-name: "getExtensionVersions"
    /rest/organizations/{organizationId}/extensions/{extensionId}/versions/{versionId}: 
      get: 
        tags: 
          - "Indexing Pipeline Extensions"
        summary: "Get the specific version of an extension for an organization"
        operationId: "getExtensionVersionUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "extensionId"
            in: "path"
            description: "extensionId"
            required: true
            type: "string"
          - 
            name: "versionId"
            in: "path"
            description: "versionId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ExtensionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INDEXING_PIPELINE_EXTENSION"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/extensions/paramId/versions/paramId_get"
        x-pretty-name: "getExtensionVersion"
  securityDefinitions: 
    oauth2: 
      type: "oauth2"
      authorizationUrl: "https://platformdev.cloud.coveo.com/oauth/authorize"
      flow: "implicit"
      scopes: 
        full: "Required"
  definitions: 
    ExtensionTestResultModel: 
      type: "object"
      properties: 
        reason: 
          type: "string"
        status: 
          type: "string"
          enum: 
            - "DISABLED"
            - "EXECUTION_ERROR"
            - "REJECTED"
            - "SUCCESS"
            - "TIMEOUT"
    ExtensionStatisticsModel: 
      type: "object"
      properties: 
        averageDurationInSeconds: 
          type: "number"
          format: "double"
        numberOfErrors: 
          type: "integer"
          format: "int32"
        numberOfExecutions: 
          type: "integer"
          format: "int32"
        numberOfSkips: 
          type: "integer"
          format: "int32"
        numberOfTimeouts: 
          type: "integer"
          format: "int32"
    ExtensionHealthModel: 
      type: "object"
      properties: 
        healthIndicator: 
          type: "string"
          enum: 
            - "GOOD"
            - "WARNING"
            - "PROBLEMATIC"
            - "UNKNOWN"
        reason: 
          type: "string"
    LogEntryModel: 
      type: "object"
      properties: 
        comment: 
          type: "string"
        date: 
          type: "string"
        duration: 
          type: "number"
          format: "double"
        fields: 
          type: "object"
          additionalProperties: 
            type: "string"
        severity: 
          type: "string"
          enum: 
            - "DEBUG"
            - "DETAIL"
            - "NORMAL"
            - "IMPORTANT"
            - "WARNING"
            - "ERROR"
            - "FATAL"
            - "NOTIFICATION"
    ExtensionModel: 
      type: "object"
      properties: 
        content: 
          type: "string"
        createdDate: 
          type: "integer"
          format: "int64"
        description: 
          type: "string"
        enabled: 
          type: "boolean"
        id: 
          type: "string"
        lastModified: 
          type: "integer"
          format: "int64"
        name: 
          type: "string"
        requiredDataStreams: 
          type: "array"
          items: 
            type: "string"
            enum: 
              - "BODY_TEXT"
              - "BODY_HTML"
              - "THUMBNAIL"
              - "DOCUMENT_DATA"
        status: 
          $ref: "#/definitions/ExtensionStatusModel"
        usedBy: 
          type: "array"
          items: 
            $ref: "#/definitions/ExtensionUsedByModel"
        versionId: 
          type: "string"
    ExtensionTestDocumentModel: 
      type: "object"
      properties: 
        id: 
          type: "string"
        metadata: 
          type: "array"
          items: 
            $ref: "#/definitions/MetadataValueModel"
        permissions: 
          type: "array"
          items: 
            $ref: "#/definitions/PermissionLevelModel"
    ExtensionUsedByModel: 
      type: "object"
      properties: 
        sourceId: 
          type: "string"
        sourceName: 
          type: "string"
    ExtensionContentVersionModel: 
      type: "object"
      properties: 
        id: 
          type: "string"
        lastModified: 
          type: "integer"
          format: "int64"
    MetadataValueModel: 
      type: "object"
      properties: 
        origin: 
          type: "string"
        values: 
          type: "object"
          additionalProperties: 
            type: "array"
            items: 
              type: "string"
    ExtensionTestModel: 
      type: "object"
      properties: 
        document: 
          $ref: "#/definitions/ExtensionTestDocumentModel"
        parameters: 
          type: "object"
          additionalProperties: 
            type: "string"
        versionId: 
          type: "string"
    JsonStringIdWrapper: 
      type: "object"
      properties: 
        id: 
          type: "string"
    PageModel«ExtensionModel»: 
      type: "object"
      properties: 
        items: 
          type: "array"
          items: 
            $ref: "#/definitions/ExtensionModel"
        totalEntries: 
          type: "integer"
          format: "int64"
        totalPages: 
          type: "integer"
          format: "int32"
    EditExtensionModel: 
      type: "object"
      properties: 
        content: 
          type: "string"
        description: 
          type: "string"
        name: 
          type: "string"
        requiredDataStreams: 
          type: "array"
          items: 
            type: "string"
            enum: 
              - "BODY_TEXT"
              - "BODY_HTML"
              - "THUMBNAIL"
              - "DOCUMENT_DATA"
    SinglePermissionModel: 
      type: "object"
      properties: 
        additionalInfo: 
          type: "object"
          additionalProperties: 
            type: "string"
        allowed: 
          type: "boolean"
        identity: 
          type: "string"
        identityType: 
          type: "string"
          enum: 
            - "USER"
            - "GROUP"
            - "VIRTUAL_GROUP"
            - "UNKNOWN"
        lastUpdateDate: 
          type: "integer"
          format: "int64"
        lastUpdateErrorDetail: 
          type: "string"
        lastUpdateResult: 
          type: "string"
          enum: 
            - "NONE"
            - "SUCCESS"
            - "ACCESS_DENIED"
            - "TIMED_OUT"
            - "ENTITY_IS_INVALID"
            - "ENTITY_IS_UNAVAILABLE"
            - "SECURITY_PROVIDER_IS_UNAVAILABLE"
            - "SECURITY_PROVIDER_IS_UNREACHABLE"
            - "SECURITY_PROVIDER_IS_NOT_READY"
            - "UNEXPECTED_ERROR"
        securityProvider: 
          type: "string"
        state: 
          type: "string"
          enum: 
            - "UNKNOWN"
            - "UP_TO_DATE"
            - "NOT_UPDATED"
            - "OUT_OF_DATE"
            - "IN_ERROR"
            - "DISABLED"
    PermissionSetModel: 
      type: "object"
      properties: 
        anonymousAllowed: 
          type: "boolean"
        lastUpdatedDate: 
          type: "integer"
          format: "int64"
        name: 
          type: "string"
        permissions: 
          type: "array"
          items: 
            $ref: "#/definitions/SinglePermissionModel"
    ExtensionDisabledStatusModel: 
      type: "object"
      properties: 
        disabledDate: 
          type: "integer"
          format: "int64"
        reason: 
          type: "string"
    ExtensionStatusModel: 
      type: "object"
      properties: 
        dailyStatistics: 
          $ref: "#/definitions/ExtensionStatisticsModel"
        disabledStatus: 
          $ref: "#/definitions/ExtensionDisabledStatusModel"
        durationHealth: 
          $ref: "#/definitions/ExtensionHealthModel"
        timeoutHealth: 
          $ref: "#/definitions/ExtensionHealthModel"
    ExtensionDisableModel: 
      type: "object"
      properties: 
        reason: 
          type: "string"
    PermissionLevelModel: 
      type: "object"
      properties: 
        name: 
          type: "string"
        permissionSets: 
          type: "array"
          items: 
            $ref: "#/definitions/PermissionSetModel"
    ExtensionTestExecutionReportModel: 
      type: "object"
      properties: 
        document: 
          $ref: "#/definitions/ExtensionTestDocumentModel"
        logs: 
          type: "array"
          items: 
            $ref: "#/definitions/LogEntryModel"
        result: 
          $ref: "#/definitions/ExtensionTestResultModel"

