---
  swagger: "2.0"
  info: 
    description: "API for Coveo Platform"
    title: "Coveo Platform API"
    termsOfService: "Coveo API terms of service"
    contact: 
      name: "Coveo"
      url: "www.coveo.com"
      email: "support@coveo.com"
    license: {}
  host: "platform.cloud.coveo.com:443"
  basePath: "/"
  tags: 
    - 
      name: "Index Backups"
      description: "Index Backups Service Resource"
    - 
      name: "Fields"
      description: "Field Resource"
    - 
      name: "Index Slices"
      description: "Index Slice Resource"
    - 
      name: "Index"
      description: "Index Service Resource"
    - 
      name: "Default Fields"
      description: "Default Field Service Resource"
  paths: 
    /rest/defaultfields/versions/{version}/sourceType/{sourceType}: 
      get: 
        tags: 
          - "Default Fields"
        summary: "Get default fields for specified version and source type"
        operationId: "getDefaultSourceFieldsByVersionUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "version"
            in: "path"
            description: "version"
            required: true
            type: "string"
          - 
            name: "sourceType"
            in: "path"
            description: "sourceType"
            required: true
            type: "string"
            enum: 
              - "AMAZONS3"
              - "BOX"
              - "BOX_ENTERPRISE"
              - "CONFLUENCE"
              - "CONFLUENCE2"
              - "CONFLUENCE2_HOSTED"
              - "CUSTOM"
              - "DROPBOX"
              - "DROPBOX_FOR_BUSINESS"
              - "EXCHANGE"
              - "GMAIL"
              - "GMAIL_DOMAIN_WIDE"
              - "GMAIL_SINGLE_USER"
              - "GOOGLE_DRIVE_DOMAIN_WIDE"
              - "GOOGLE_DRIVE_SINGLE_USER"
              - "JIRA2"
              - "JIRA2_HOSTED"
              - "JIVE"
              - "JIVE_HOSTED"
              - "LITHIUM"
              - "MICROSOFT_DYNAMICS"
              - "PUSH"
              - "RSS"
              - "SALESFORCE"
              - "SHAREPOINT_ONLINE"
              - "SITECORE"
              - "SITEMAP"
              - "TWITTER2"
              - "WEB2"
              - "YOUTUBE"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/DefaultSourceFieldsModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getDefaultSourceFieldsByVersion"
    /rest/organizations/{organizationId}/defaultfields: 
      get: 
        tags: 
          - "Default Fields"
        summary: "Get default fields version for specified organization"
        operationId: "getDefaultFieldsVersionByOrganizationUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ValueModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getDefaultFieldsVersionByOrganization"
    /rest/organizations/{organizationId}/indexbackups: 
      get: 
        tags: 
          - "Index Backups"
        summary: "Get all index backups for an organization"
        operationId: "getOrganizationIndexBackupsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/IndexBackupModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        deprecated: true
        x-pretty-name: "getOrganizationIndexBackups"
    /rest/organizations/{organizationId}/indexbackups/page: 
      get: 
        tags: 
          - "Index Backups"
        summary: "Get a page of a list of index backups."
        operationId: "getIndexBackupPageUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "query"
            description: "indexId"
            required: false
            type: "array"
            items: 
              type: "string"
            collectionFormat: "multi"
          - 
            name: "backupId"
            in: "query"
            description: "backupId"
            required: false
            type: "array"
            items: 
              type: "string"
            collectionFormat: "multi"
          - 
            name: "from"
            in: "query"
            description: "from"
            required: false
            type: "integer"
            format: "int64"
          - 
            name: "to"
            in: "query"
            description: "to"
            required: false
            type: "integer"
            format: "int64"
          - 
            name: "sortBy"
            in: "query"
            description: "sortBy"
            required: false
            type: "string"
            default: "backupId"
          - 
            name: "order"
            in: "query"
            description: "order"
            required: false
            type: "string"
            default: "asc"
          - 
            name: "page"
            in: "query"
            description: "page"
            required: false
            type: "integer"
            default: 0
            format: "int32"
          - 
            name: "perPage"
            in: "query"
            description: "perPage"
            required: false
            type: "integer"
            default: 100
            format: "int32"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/IndexBackupModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getIndexBackupPage"
    /rest/organizations/{organizationId}/indexbackups/{indexId}: 
      get: 
        tags: 
          - "Index Backups"
        summary: "Get all backups for an index"
        operationId: "getIndexBackupsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/IndexBackupModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        deprecated: true
        x-pretty-name: "getIndexBackups"
    /rest/organizations/{organizationId}/indexes: 
      get: 
        tags: 
          - "Index"
        summary: "Get the list of indexes for an organization"
        operationId: "getIndexesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/IndexModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getIndexes"
      post: 
        tags: 
          - "Index"
        summary: "Add an index to the organization"
        operationId: "createIndexUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "createIndexModel"
            description: "createIndexModel"
            required: false
            schema: 
              $ref: "#/definitions/CreateIndexModel"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/JsonStringIdWrapper"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "createIndex"
    /rest/organizations/{organizationId}/indexes/fields: 
      post: 
        tags: 
          - "Fields"
        summary: "Creates a field for an organization"
        operationId: "createFieldUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "fieldModel"
            description: "fieldModel"
            required: true
            schema: 
              $ref: "#/definitions/FieldModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "createField"
    /rest/organizations/{organizationId}/indexes/fields/batch/create: 
      post: 
        tags: 
          - "Fields"
        summary: "Creates fields for an organization"
        operationId: "createFieldsUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "fieldModels"
            description: "fieldModels"
            required: true
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/FieldModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "createFields"
    /rest/organizations/{organizationId}/indexes/fields/batch/delete: 
      delete: 
        tags: 
          - "Fields"
        summary: "Removes fields from an organization"
        operationId: "removeFieldsUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "fields"
            in: "query"
            description: "fields"
            required: true
            type: "array"
            items: 
              type: "string"
            collectionFormat: "multi"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "removeFields"
    /rest/organizations/{organizationId}/indexes/fields/batch/update: 
      put: 
        tags: 
          - "Fields"
        summary: "Update fields for an organization"
        operationId: "updateFieldsUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "fieldModels"
            description: "fieldModels"
            required: true
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/FieldModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "updateFields"
    /rest/organizations/{organizationId}/indexes/fields/synchronize: 
      post: 
        tags: 
          - "Fields"
        summary: "Synchronizes fields for an organization"
        operationId: "synchronizeFieldsUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "synchronizeFields"
    /rest/organizations/{organizationId}/indexes/fields/{fieldId}: 
      get: 
        tags: 
          - "Fields"
        summary: "Get a single field for an organization"
        operationId: "getFieldUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "fieldId"
            in: "path"
            description: "fieldId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/FieldModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getField"
      put: 
        tags: 
          - "Fields"
        summary: "Update a field for an organization"
        operationId: "updateFieldUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "fieldId"
            in: "path"
            description: "fieldId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "fieldModel"
            description: "fieldModel"
            required: true
            schema: 
              $ref: "#/definitions/FieldModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "updateField"
      delete: 
        tags: 
          - "Fields"
        summary: "Removes a specific field from an organization"
        operationId: "removeFieldUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "fieldId"
            in: "path"
            description: "fieldId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "removeField"
    /rest/organizations/{organizationId}/indexes/page/fields: 
      get: 
        tags: 
          - "Fields"
        summary: "Get a page of fields for an organization"
        operationId: "getFieldsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "type"
            in: "query"
            description: "type"
            required: false
            type: "string"
            enum: 
              - "LONG"
              - "LONG_64"
              - "DOUBLE"
              - "DATE"
              - "STRING"
          - 
            name: "filter"
            in: "query"
            description: "filter"
            required: false
            type: "string"
          - 
            name: "sortBy"
            in: "query"
            description: "sortBy"
            required: false
            type: "string"
            default: "name"
          - 
            name: "order"
            in: "query"
            description: "order"
            required: false
            type: "string"
            default: "ASC"
          - 
            name: "page"
            in: "query"
            description: "page"
            required: false
            type: "integer"
            default: 0
            format: "int32"
          - 
            name: "perPage"
            in: "query"
            description: "perPage"
            required: false
            type: "integer"
            default: 100
            format: "int32"
          - 
            name: "origin"
            in: "query"
            description: "origin"
            required: false
            type: "string"
            default: "ALL"
            enum: 
              - "ALL"
              - "USER"
              - "SYSTEM"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/FieldModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getFields"
    /rest/organizations/{organizationId}/indexes/raw: 
      put: 
        tags: 
          - "Index"
        summary: "Update all the indexes from raw configuration"
        operationId: "updateIndexesRawConfigUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "indexConfig"
            description: "indexConfig"
            required: true
            schema: 
              $ref: "#/definitions/RawIndexConfig"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "updateIndexesRawConfig"
    /rest/organizations/{organizationId}/indexes/snapshots/{snapshotId}: 
      get: 
        tags: 
          - "Index"
        summary: "Gets an index config snapshot"
        operationId: "getSnapshotUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "Id of the organization"
            required: false
            type: "string"
          - 
            name: "snapshotId"
            in: "path"
            description: "snapshotId"
            required: false
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "object"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getSnapshot"
    /rest/organizations/{organizationId}/indexes/{indexId}: 
      get: 
        tags: 
          - "Index"
        summary: "Get a single index"
        operationId: "getIndexUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/IndexModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getIndex"
      delete: 
        tags: 
          - "Index"
        summary: "Deletes the index and its associated pipeline"
        operationId: "deleteIndexUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "deleteIndex"
    /rest/organizations/{organizationId}/indexes/{indexId}/backup: 
      post: 
        tags: 
          - "Index"
        summary: "Backup the content of the selected index"
        operationId: "backupIndexUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/JsonStringIdWrapper"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "backupIndex"
    /rest/organizations/{organizationId}/indexes/{indexId}/commit: 
      post: 
        tags: 
          - "Index"
        summary: "Force commit of the selected index"
        operationId: "forceCommitUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "forceCommit"
    /rest/organizations/{organizationId}/indexes/{indexId}/content: 
      delete: 
        tags: 
          - "Index"
        summary: "Delete the content of the selected index"
        operationId: "deleteIndexContentUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "deleteIndexContent"
    /rest/organizations/{organizationId}/indexes/{indexId}/documents/{documentId}/permissions: 
      get: 
        tags: 
          - "Index"
        summary: "Get the permission model for a document"
        operationId: "getPermissionsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
          - 
            name: "documentId"
            in: "path"
            description: "documentId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/DocumentPermissionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getPermissions"
    /rest/organizations/{organizationId}/indexes/{indexId}/documents/{documentId}/permissions/effective: 
      get: 
        tags: 
          - "Index"
        summary: "Get the effective permissions for a document with filters"
        operationId: "getEffectivePermissionsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
          - 
            name: "documentId"
            in: "path"
            description: "documentId"
            required: true
            type: "string"
          - 
            name: "states"
            in: "query"
            description: "states"
            required: false
            type: "array"
            items: 
              type: "string"
              enum: 
                - "UNKNOWN"
                - "UP_TO_DATE"
                - "NOT_UPDATED"
                - "OUT_OF_DATE"
                - "IN_ERROR"
                - "DISABLED"
            collectionFormat: "multi"
            enum: 
              - "UNKNOWN"
              - "UP_TO_DATE"
              - "NOT_UPDATED"
              - "OUT_OF_DATE"
              - "IN_ERROR"
              - "DISABLED"
          - 
            name: "page"
            in: "query"
            description: "page"
            required: false
            type: "integer"
            default: 0
            format: "int32"
          - 
            name: "perPage"
            in: "query"
            description: "perPage"
            required: false
            type: "integer"
            default: 100
            format: "int32"
          - 
            name: "includedEntities"
            in: "query"
            description: "includedEntities"
            required: false
            type: "string"
            default: "ALL"
            enum: 
              - "ALL"
              - "ALLOWED"
              - "DENIED"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/PermissionSetModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getEffectivePermissions"
    /rest/organizations/{organizationId}/indexes/{indexId}/online: 
      put: 
        tags: 
          - "Index"
        summary: "Set an index online or offline"
        operationId: "setOnlineUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
          - 
            name: "isOnline"
            in: "query"
            description: "isOnline"
            required: true
            type: "boolean"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "setOnline"
    /rest/organizations/{organizationId}/indexes/{indexId}/raw: 
      get: 
        tags: 
          - "Index"
        summary: "Get the raw configuration of an index"
        operationId: "getIndexRawConfigUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/RawIndexConfig"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getIndexRawConfig"
      put: 
        tags: 
          - "Index"
        summary: "Update an index from raw configuration"
        operationId: "updateIndexRawConfigUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "indexConfig"
            description: "indexConfig"
            required: true
            schema: 
              $ref: "#/definitions/RawIndexConfig"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "updateIndexRawConfig"
    /rest/organizations/{organizationId}/indexes/{indexId}/readonly: 
      put: 
        tags: 
          - "Index"
        summary: "Set an index in read-only or read-write"
        operationId: "setReadOnlyUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
          - 
            name: "isReadOnly"
            in: "query"
            description: "isReadOnly"
            required: true
            type: "boolean"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "setReadOnly"
    /rest/organizations/{organizationId}/indexes/{indexId}/resize: 
      post: 
        tags: 
          - "Index"
        summary: "Increase the storage size of the selected index"
        operationId: "resizeIndexUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "resizeStorageModel"
            description: "resizeStorageModel"
            required: true
            schema: 
              $ref: "#/definitions/ResizeStorageModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "resizeIndex"
    /rest/organizations/{organizationId}/indexes/{indexId}/restore: 
      post: 
        tags: 
          - "Index"
        summary: "Restore the content of the selected index to a previous backup"
        operationId: "restoreIndexUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "backupModel"
            description: "backupModel"
            required: true
            schema: 
              $ref: "#/definitions/IndexBackupModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "restoreIndex"
    /rest/organizations/{organizationId}/indexes/{indexId}/slices: 
      get: 
        tags: 
          - "Index Slices"
        summary: "Get slices of an index"
        operationId: "getSlicesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/IndexSliceModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getSlices"
      post: 
        tags: 
          - "Index Slices"
        summary: "Add a slice to an index"
        operationId: "addSliceUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "slice"
            description: "slice"
            required: true
            schema: 
              $ref: "#/definitions/IndexSliceModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "addSlice"
    /rest/organizations/{organizationId}/indexes/{indexId}/slices/{sliceId}: 
      put: 
        tags: 
          - "Index Slices"
        summary: "Update a slice of an index"
        operationId: "updateSliceUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
          - 
            name: "sliceId"
            in: "path"
            description: "sliceId"
            required: true
            type: "integer"
            format: "int32"
          - 
            in: "body"
            name: "slice"
            description: "slice"
            required: true
            schema: 
              $ref: "#/definitions/IndexSliceModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "updateSlice"
    /rest/organizations/{organizationId}/indexes/{indexId}/stats: 
      get: 
        tags: 
          - "Index"
        summary: "Get the stats for an index."
        operationId: "getIndexStatisticsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/IndexStatisticsModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "getIndexStatistics"
    /rest/organizations/{organizationId}/indexes/{indexId}/synchronize: 
      post: 
        tags: 
          - "Index"
        summary: "Synchronize an index with another one"
        operationId: "synchronizeIndexUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "indexId"
            in: "path"
            description: "indexId"
            required: true
            type: "string"
          - 
            name: "copyFromId"
            in: "query"
            description: "copyFromId"
            required: true
            type: "string"
          - 
            name: "compressData"
            in: "query"
            description: "compressData"
            required: false
            type: "boolean"
            default: false
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-pretty-name: "synchronizeIndex"
  securityDefinitions: 
    oauth2: 
      type: "oauth2"
      authorizationUrl: "https://platform.cloud.coveo.com/oauth/authorize"
      flow: "implicit"
      scopes: 
        full: "Required"
  definitions: 
    PageModel«IndexBackupModel»: 
      type: "object"
      properties: 
        items: 
          type: "array"
          items: 
            $ref: "#/definitions/IndexBackupModel"
        totalEntries: 
          type: "integer"
          format: "int64"
        totalPages: 
          type: "integer"
          format: "int32"
    MachineSpecModel: 
      type: "object"
      properties: 
        architecture: 
          type: "string"
          enum: 
            - "T2_NANO"
            - "T2_MICRO"
            - "T2_SMALL"
            - "T2_MEDIUM"
            - "T2_LARGE"
            - "T2_XLARGE"
            - "T2_2XLARGE"
            - "M3_MEDIUM"
            - "M3_LARGE"
            - "M3_XLARGE"
            - "M3_2XLARGE"
            - "C3_LARGE"
            - "C3_XLARGE"
            - "C3_2XLARGE"
            - "C3_4XLARGE"
            - "C3_8XLARGE"
            - "R3_LARGE"
            - "R3_XLARGE"
            - "R3_2XLARGE"
            - "R3_4XLARGE"
            - "R3_8XLARGE"
            - "R4_LARGE"
            - "R4_XLARGE"
            - "R4_2XLARGE"
            - "R4_4XLARGE"
            - "R4_8XLARGE"
            - "R4_16XLARGE"
            - "M4_LARGE"
            - "M4_XLARGE"
            - "M4_2XLARGE"
            - "M4_4XLARGE"
            - "M4_10XLARGE"
            - "C4_LARGE"
            - "C4_XLARGE"
            - "C4_2XLARGE"
            - "C4_4XLARGE"
            - "C4_8XLARGE"
        storageSpec: 
          $ref: "#/definitions/StorageSpecModel"
    IndexStatusModel: 
      type: "object"
      properties: 
        backupStatus: 
          $ref: "#/definitions/IndexBackupStatusModel"
        internalStatus: 
          type: "string"
          enum: 
            - "COMPUTING_STATUS"
            - "CREATING"
            - "IN_ERROR"
            - "STARTING"
            - "RUNNING"
            - "STOPPING"
            - "SYNCHRONIZING"
            - "UNREACHABLE"
            - "WAITING_FOR_CREATION"
            - "BACKING_UP"
            - "RESTORING_BACKUP"
        online: 
          type: "boolean"
        readOnlyStatus: 
          type: "string"
          enum: 
            - "READ_ONLY"
            - "SWITCHING_TO_READ_ONLY"
            - "SWITCHING_TO_READ_WRITE"
            - "READ_WRITE"
        stats: 
          $ref: "#/definitions/IndexStatisticsModel"
        syncStatus: 
          $ref: "#/definitions/IndexSyncStatusModel"
    Optional«string»: 
      type: "object"
    ValueModel: 
      type: "object"
      properties: 
        value: 
          type: "string"
    IndexQueryHighlighterModel: 
      type: "object"
      properties: 
        highlightTags: 
          type: "array"
          items: 
            $ref: "#/definitions/IndexHighlightTagModel"
        ignoreAccents: 
          type: "boolean"
        ignoredFields: 
          type: "string"
        useStemming: 
          type: "boolean"
    IndexSystemModel: 
      type: "object"
      properties: 
        bTreeShrinkFreeSpaceThreshold: 
          type: "number"
          format: "double"
        documentDuplicateFactor: 
          type: "integer"
          format: "int32"
        documentLimitWarning: 
          type: "integer"
          format: "int32"
        documentsChunkToDefragment: 
          type: "integer"
          format: "int32"
        documentsChunkToDefragmentOffPeak: 
          type: "integer"
          format: "int32"
        documentsFragmentationTarget: 
          type: "number"
          format: "double"
        enableInternalLiveTagging: 
          type: "boolean"
        enableLiveTagging: 
          type: "boolean"
        enableQueryMetrics: 
          type: "boolean"
        enableSearchDebugArgument: 
          type: "boolean"
        enableServiceIndexMetrics: 
          type: "boolean"
        enableTransactionsIndexMetrics: 
          type: "boolean"
        enableWordCorrectorLexicon: 
          type: "boolean"
        freeSpaceBeforeRebalancingBTree: 
          type: "integer"
          format: "int32"
        freeSpaceBeforeRebalancingBTreeDuringCleanup: 
          type: "integer"
          format: "int32"
        indexingBlockerMode: 
          type: "string"
        indexingPriority: 
          type: "string"
        limitSystemFileCacheSize: 
          type: "boolean"
        maxBTreeFlushPendingMemoryMB: 
          type: "integer"
          format: "int32"
        maxChunksCleanupPerTransactionOffPeakPeriod: 
          type: "number"
          format: "double"
        maxChunksCleanupPerTransactionPeakPeriod: 
          type: "number"
          format: "double"
        maxChunksCleanupTimePerTransactionOffPeakPeriod: 
          type: "number"
          format: "double"
        maxChunksCleanupTimePerTransactionPeakPeriod: 
          type: "number"
          format: "double"
        maxDocIDRecyclingTimePerTransactionOffPeakPeriod: 
          type: "integer"
          format: "int32"
        maxDocIDRecyclingTimePerTransactionPeakPeriod: 
          type: "integer"
          format: "int32"
        maxMMFFlushPendingMemoryMB: 
          type: "integer"
          format: "int32"
        maxOptimizerBTreeShrinkTimeOffPeakPeriod: 
          type: "integer"
          format: "int32"
        maxOptimizerBTreeShrinkTimePeakPeriod: 
          type: "integer"
          format: "int32"
        maxRecycledTermIDCleanupTimeOffPeakPeriod: 
          type: "integer"
          format: "int32"
        maxRecycledTermIDCleanupTimePeakPeriod: 
          type: "integer"
          format: "int32"
        maxRecycledTermIDCleanupTimePercentOffPeakPeriod: 
          type: "number"
          format: "double"
        maxRecycledTermIDCleanupTimePercentPeakPeriod: 
          type: "number"
          format: "double"
        maxSystemFileCacheSize: 
          type: "number"
          format: "double"
        maxTermDefragmentationTimeOffPeakPeriod: 
          type: "integer"
          format: "int32"
        maxTermDefragmentationTimePeakPeriod: 
          type: "integer"
          format: "int32"
        maxTermDefragmentationTimePercentOffPeakPeriod: 
          type: "number"
          format: "double"
        maxTermDefragmentationTimePercentPeakPeriod: 
          type: "number"
          format: "double"
        maxWriterBTreeShrinkTimeOffPeakPeriod: 
          type: "integer"
          format: "int32"
        maxWriterBTreeShrinkTimePeakPeriod: 
          type: "integer"
          format: "int32"
        maximumResults: 
          type: "integer"
          format: "int32"
        maximumTermsPerQuery: 
          type: "integer"
          format: "int32"
        minDocIDCountForRecycling: 
          type: "integer"
          format: "int32"
        minTermIDCountForRecycling: 
          type: "integer"
          format: "int32"
        minimumDiskSpace: 
          type: "integer"
          format: "int32"
        numberOfBatchQueryThreads: 
          type: "integer"
          format: "int32"
        numberOfQueryThreads: 
          type: "integer"
          format: "int32"
        performanceCacheMemory: 
          type: "number"
          format: "double"
        performanceMinimumCacheMemory: 
          type: "integer"
          format: "int32"
        performanceMode: 
          type: "string"
        processPriority: 
          type: "string"
        recyclingThresholdMultiplierInIndexingMode: 
          type: "number"
          format: "double"
        streamCompressionMethod: 
          type: "string"
        systemFileCacheTrimInterval: 
          type: "integer"
          format: "int32"
        termsChunksToDefragmentPerTransactionOffPeakPeriod: 
          type: "integer"
          format: "int32"
        termsChunksToDefragmentPerTransactionPeakPeriod: 
          type: "integer"
          format: "int32"
        transactionMaxDocumentsSize: 
          type: "integer"
          format: "int32"
        transactionUpdateFrequency: 
          type: "integer"
          format: "int32"
    IndexHighlightTagModel: 
      type: "object"
      properties: 
        end: 
          type: "string"
        id: 
          type: "integer"
          format: "int32"
        start: 
          type: "string"
    IndexModel: 
      type: "object"
      properties: 
        agentId: 
          type: "string"
        id: 
          type: "string"
        machineSpec: 
          $ref: "#/definitions/MachineSpecModel"
        name: 
          type: "string"
        organizationClusterId: 
          type: "string"
        status: 
          $ref: "#/definitions/IndexStatusModel"
        storages: 
          type: "array"
          items: 
            $ref: "#/definitions/StorageSpecModel"
    IndexSourceStatisticsModel: 
      type: "object"
      properties: 
        collectionId: 
          type: "integer"
          format: "int32"
        documentCount: 
          type: "integer"
          format: "int64"
        documentTotalSize: 
          type: "integer"
          format: "int64"
        sourceId: 
          type: "integer"
          format: "int32"
    ConfigSIDDeclaratorModel: 
      type: "object"
      properties: 
        declaration: 
          type: "string"
        id: 
          type: "integer"
          format: "int32"
        provider: 
          type: "string"
    IndexingPipelineVersionsModel: 
      type: "object"
      properties: 
        indexerVersion: 
          $ref: "#/definitions/Optional«string»"
        securityCacheVersion: 
          $ref: "#/definitions/Optional«string»"
    SinglePermissionModel: 
      type: "object"
      properties: 
        additionalInfo: 
          type: "object"
          additionalProperties: 
            type: "string"
        allowed: 
          type: "boolean"
        identity: 
          type: "string"
        identityType: 
          type: "string"
          enum: 
            - "USER"
            - "GROUP"
            - "VIRTUAL_GROUP"
            - "UNKNOWN"
        lastUpdateDate: 
          type: "integer"
          format: "int64"
        lastUpdateErrorDetail: 
          type: "string"
        lastUpdateResult: 
          type: "string"
          enum: 
            - "NONE"
            - "SUCCESS"
            - "ACCESS_DENIED"
            - "TIMED_OUT"
            - "ENTITY_IS_INVALID"
            - "ENTITY_IS_UNAVAILABLE"
            - "SECURITY_PROVIDER_IS_UNAVAILABLE"
            - "SECURITY_PROVIDER_IS_UNREACHABLE"
            - "SECURITY_PROVIDER_IS_NOT_READY"
            - "UNEXPECTED_ERROR"
        securityProvider: 
          type: "string"
        state: 
          type: "string"
          enum: 
            - "UNKNOWN"
            - "UP_TO_DATE"
            - "NOT_UPDATED"
            - "OUT_OF_DATE"
            - "IN_ERROR"
            - "DISABLED"
    IndexStatisticsModel: 
      type: "object"
      properties: 
        diskSpaceUsed: 
          type: "integer"
          format: "int64"
        documentCount: 
          type: "integer"
          format: "int32"
        documentsTotalSize: 
          type: "integer"
          format: "int64"
        lastAppliedTransactionTimestamp: 
          type: "integer"
          format: "int64"
        lastCommitTimestamp: 
          type: "integer"
          format: "int64"
        numberOfQueries: 
          type: "integer"
          format: "int32"
        numberOfSlices: 
          type: "integer"
          format: "int32"
        pendingTransactions: 
          type: "integer"
          format: "int32"
        realtimeDiskSpaceUsed: 
          type: "integer"
          format: "int64"
        realtimeDocumentCount: 
          type: "integer"
          format: "int32"
        realtimeDocumentsTotalSize: 
          type: "integer"
          format: "int64"
        realtimePendingTransactions: 
          type: "integer"
          format: "int32"
        remainingDiskSpace: 
          type: "integer"
          format: "int64"
        sourceStatistics: 
          type: "array"
          items: 
            $ref: "#/definitions/IndexSourceStatisticsModel"
        totalMemoryUsed: 
          type: "integer"
          format: "int64"
        totalPhysicalMemory: 
          type: "integer"
          format: "int64"
    PermissionSetModel: 
      type: "object"
      properties: 
        anonymousAllowed: 
          type: "boolean"
        lastUpdatedDate: 
          type: "integer"
          format: "int64"
        name: 
          type: "string"
        permissions: 
          type: "array"
          items: 
            $ref: "#/definitions/SinglePermissionModel"
        state: 
          type: "string"
          enum: 
            - "UNKNOWN"
            - "VALID"
            - "PENDING"
            - "INCOMPLETE"
            - "IN_ERROR"
    IndexBackupStatusModel: 
      type: "object"
      properties: 
        currentFileName: 
          type: "string"
        currentFileNumber: 
          type: "integer"
          format: "int32"
        operation: 
          type: "string"
        totalNumberOfFiles: 
          type: "integer"
          format: "int32"
        totalSize: 
          type: "integer"
          format: "int64"
        transferredSize: 
          type: "integer"
          format: "int64"
    ResizeStorageModel: 
      type: "object"
      properties: 
        sizeInGibibytes: 
          type: "integer"
          format: "int32"
    IndexBackupModel: 
      type: "object"
      properties: 
        backupId: 
          type: "string"
        creationDate: 
          type: "string"
          format: "date-time"
        environment: 
          type: "string"
        indexId: 
          type: "string"
        organizationId: 
          type: "string"
    IndexSyncStatusModel: 
      type: "object"
      properties: 
        currentFileName: 
          type: "string"
        currentFileNumber: 
          type: "integer"
          format: "int32"
        totalNumberOfFiles: 
          type: "integer"
          format: "int32"
        totalSize: 
          type: "integer"
          format: "int64"
        transferredSize: 
          type: "integer"
          format: "int64"
    IndexRankingModel: 
      type: "object"
      properties: 
        adjacencyMult: 
          type: "integer"
          format: "int32"
        collaborativeRankingMult: 
          type: "integer"
          format: "int32"
        conceptMult: 
          type: "integer"
          format: "int32"
        customDocumentWeightMult: 
          type: "integer"
          format: "int32"
        docDateMult: 
          type: "integer"
          format: "int32"
        formattedMult: 
          type: "integer"
          format: "int32"
        languageMult: 
          type: "integer"
          format: "int32"
        linkRankMult: 
          type: "integer"
          format: "int32"
        numberOfResultsCollaborative: 
          type: "integer"
          format: "int32"
        numberOfResultsToRefine: 
          type: "integer"
          format: "int32"
        qualityMult: 
          type: "integer"
          format: "int32"
        rankingHeuristic: 
          type: "string"
        rankingHeuristicUseIndexSize: 
          type: "boolean"
        sourceReputationMult: 
          type: "integer"
          format: "int32"
        summaryMult: 
          type: "integer"
          format: "int32"
        tFIDFMult: 
          type: "integer"
          format: "int32"
        termCasingMult: 
          type: "integer"
          format: "int32"
        termCorrelationMult: 
          type: "integer"
          format: "int32"
        titleMult: 
          type: "integer"
          format: "int32"
        uRIMult: 
          type: "integer"
          format: "int32"
    PermissionLevelModel: 
      type: "object"
      properties: 
        name: 
          type: "string"
        permissionSets: 
          type: "array"
          items: 
            $ref: "#/definitions/PermissionSetModel"
    FieldModel: 
      type: "object"
      properties: 
        dateFormat: 
          type: "string"
        description: 
          type: "string"
        facet: 
          type: "boolean"
        includeInQuery: 
          type: "boolean"
        includeInResults: 
          type: "boolean"
        mergeWithLexicon: 
          type: "boolean"
        multiValueFacet: 
          type: "boolean"
        multiValueFacetTokenizers: 
          type: "string"
        name: 
          type: "string"
        ranking: 
          type: "boolean"
        smartDateFacet: 
          type: "boolean"
        sort: 
          type: "boolean"
        stemming: 
          type: "boolean"
        system: 
          type: "boolean"
        type: 
          type: "string"
          enum: 
            - "LONG"
            - "LONG_64"
            - "DOUBLE"
            - "DATE"
            - "STRING"
        useCacheForComputedFacet: 
          type: "boolean"
        useCacheForNestedQuery: 
          type: "boolean"
        useCacheForNumericQuery: 
          type: "boolean"
        useCacheForSort: 
          type: "boolean"
    StorageSpecModel: 
      type: "object"
      properties: 
        numberOfIops: 
          type: "integer"
          format: "int32"
        sizeInGibibytes: 
          type: "integer"
          format: "int32"
        sizeInGigabytes: 
          type: "integer"
          format: "int32"
        storageType: 
          type: "string"
          enum: 
            - "STANDARD"
            - "SSD"
            - "PROVISIONED_SSD"
    PageModel«FieldModel»: 
      type: "object"
      properties: 
        items: 
          type: "array"
          items: 
            $ref: "#/definitions/FieldModel"
        totalEntries: 
          type: "integer"
          format: "int64"
        totalPages: 
          type: "integer"
          format: "int32"
    IndexCollaborativeRankingModel: 
      type: "object"
      properties: 
        automaticRatingRatio: 
          type: "number"
          format: "double"
        cacheSize: 
          type: "integer"
          format: "int32"
        enabled: 
          type: "boolean"
        globalManualRatingRatio: 
          type: "number"
          format: "double"
        groupAutomaticRatingRatio: 
          type: "number"
          format: "double"
        historyCacheSize: 
          type: "integer"
          format: "int32"
        oldRatingsFadeOutRatio: 
          type: "number"
          format: "double"
        oldRatingsFadeOutTime: 
          type: "integer"
          format: "int32"
        userAutomaticRatingRatio: 
          type: "number"
          format: "double"
        validGroups: 
          type: "array"
          items: 
            $ref: "#/definitions/ConfigSIDDeclaratorModel"
    RawIndexConfig: 
      type: "object"
      properties: 
        collaborativeRanking: 
          $ref: "#/definitions/IndexCollaborativeRankingModel"
        physicalIndex: 
          $ref: "#/definitions/IndexPhysicalIndexModel"
        queryHighlighter: 
          $ref: "#/definitions/IndexQueryHighlighterModel"
        ranking: 
          $ref: "#/definitions/IndexRankingModel"
        system: 
          $ref: "#/definitions/IndexSystemModel"
    JsonStringIdWrapper: 
      type: "object"
      properties: 
        id: 
          type: "string"
    CreateIndexModel: 
      type: "object"
      properties: 
        copyFromAgent: 
          type: "string"
        copyFromId: 
          type: "string"
        machineSpec: 
          $ref: "#/definitions/MachineSpecModel"
        organizationClusterId: 
          type: "string"
        parameters: 
          type: "object"
          additionalProperties: 
            type: "string"
        type: 
          type: "string"
          enum: 
            - "Coveo"
            - "Elasticsearch"
        versions: 
          $ref: "#/definitions/IndexingPipelineVersionsModel"
    IndexPhysicalIndexModel: 
      type: "object"
      properties: 
        applyStemmingOnExactPhraseTerms: 
          type: "boolean"
        description: 
          type: "string"
        enableRealtimeIndexing: 
          type: "boolean"
        groupByMaxToCache: 
          type: "integer"
          format: "int32"
        languagesSettings: 
          type: "string"
        name: 
          type: "string"
        normalizerUnicodeSetExclusion: 
          type: "string"
        performanceCacheMemory: 
          type: "number"
          format: "double"
        realtimeIndexingDocumentsThreshold: 
          type: "integer"
          format: "int32"
        realtimeIndexingStartThreshold: 
          type: "integer"
          format: "int32"
        uniqueTermsPerDocument: 
          type: "integer"
          format: "int32"
        wildcardsNumberOfLeadingChars: 
          type: "integer"
          format: "int32"
        wildcardsNumberOfTerms: 
          type: "integer"
          format: "int32"
    IndexSliceModel: 
      type: "object"
      properties: 
        autoIndexCompactionHistorySize: 
          type: "integer"
          format: "int32"
        description: 
          type: "string"
        documentsCacheSize: 
          type: "integer"
          format: "int32"
        externalSecurityCacheSize: 
          type: "integer"
          format: "int32"
        id: 
          type: "integer"
          format: "int32"
        lexiconCacheSize: 
          type: "integer"
          format: "int32"
        lexiconDateCFCacheSize: 
          type: "integer"
          format: "int32"
        lexiconDoubleCFCacheSize: 
          type: "integer"
          format: "int32"
        lexiconFieldSortCacheSize: 
          type: "integer"
          format: "int32"
        lexiconGroupByCacheSize: 
          type: "integer"
          format: "int32"
        lexiconLong64CFCacheSize: 
          type: "integer"
          format: "int32"
        lexiconLongCFCacheSize: 
          type: "integer"
          format: "int32"
        lexiconQueryFieldSortCacheSize: 
          type: "integer"
          format: "int32"
        lexiconStringCFCacheSize: 
          type: "integer"
          format: "int32"
        lexiconTagCFCacheSize: 
          type: "integer"
          format: "int32"
        name: 
          type: "string"
        performanceCacheMemory: 
          type: "number"
          format: "double"
        queryCacheSize: 
          type: "integer"
          format: "int32"
        securityIndexCacheSize: 
          type: "integer"
          format: "int32"
        securityInfoCacheSize: 
          type: "integer"
          format: "int32"
        stemExpansionMapCacheSize: 
          type: "integer"
          format: "int32"
        tagValueCacheSize: 
          type: "integer"
          format: "int32"
        termIDCacheSize: 
          type: "integer"
          format: "int32"
        wclmaxWords: 
          type: "integer"
          format: "int32"
        wclminOccurrences: 
          type: "integer"
          format: "int32"
    DefaultSourceFieldsModel: 
      type: "object"
      properties: 
        defaultFields: 
          type: "array"
          items: 
            $ref: "#/definitions/FieldModel"
        sourceType: 
          type: "string"
          enum: 
            - "AMAZONS3"
            - "BOX"
            - "BOX_ENTERPRISE"
            - "CONFLUENCE"
            - "CONFLUENCE2"
            - "CONFLUENCE2_HOSTED"
            - "CUSTOM"
            - "DROPBOX"
            - "DROPBOX_FOR_BUSINESS"
            - "EXCHANGE"
            - "GMAIL"
            - "GMAIL_DOMAIN_WIDE"
            - "GMAIL_SINGLE_USER"
            - "GOOGLE_DRIVE_DOMAIN_WIDE"
            - "GOOGLE_DRIVE_SINGLE_USER"
            - "JIRA2"
            - "JIRA2_HOSTED"
            - "JIVE"
            - "JIVE_HOSTED"
            - "LITHIUM"
            - "MICROSOFT_DYNAMICS"
            - "PUSH"
            - "RSS"
            - "SALESFORCE"
            - "SHAREPOINT_ONLINE"
            - "SITECORE"
            - "SITEMAP"
            - "TWITTER2"
            - "WEB2"
            - "YOUTUBE"
        version: 
          type: "string"
    DocumentPermissionModel: 
      type: "object"
      properties: 
        lastUpdatedDate: 
          type: "integer"
          format: "int64"
        permissionLevels: 
          type: "array"
          items: 
            $ref: "#/definitions/PermissionLevelModel"
        state: 
          type: "string"
          enum: 
            - "UNKNOWN"
            - "VALID"
            - "PENDING"
            - "INCOMPLETE"
            - "IN_ERROR"

