---
  swagger: "2.0"
  info: 
    description: "API for Coveo Platform"
    title: "Coveo Platform API"
    termsOfService: "Coveo API terms of service"
    contact: 
      name: "Coveo"
      url: "www.coveo.com"
      email: "support@coveo.com"
    license: {}
  host: "platformdev.cloud.coveo.com:443"
  basePath: "/"
  tags: 
    - 
      name: "Subscription"
      description: "Subscription Service Resource"
    - 
      name: "Global Subscriptions"
      description: "Global Subscription Service Resource"
  paths: 
    /rest/organizations/{organizationId}/subscriptions: 
      get: 
        tags: 
          - "Subscription"
        summary: "Get subscriptions for organization"
        operationId: "getSubscriptionsUsingGET_1"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/SubscriptionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SUBSCRIPTION"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/subscriptions_get"
        x-pretty-name: "getSubscriptions"
      post: 
        tags: 
          - "Subscription"
        summary: "Create a subscription for organization"
        operationId: "createSubscriptionUsingPOST_1"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "subscriptionModel"
            description: "subscriptionModel"
            required: true
            schema: 
              $ref: "#/definitions/EditSubscriptionModel"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/SubscriptionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SUBSCRIPTION"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/subscriptions_post"
        x-pretty-name: "createSubscription"
    /rest/organizations/{organizationId}/subscriptions/me: 
      get: 
        tags: 
          - "Subscription"
        summary: "Get subscriptions for current user"
        operationId: "getCurrentUserSubscriptionsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/SubscriptionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "ORGANIZATION"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/subscriptions/me_get"
        x-pretty-name: "getCurrentUserSubscriptions"
      post: 
        tags: 
          - "Subscription"
        summary: "Create a subscription for current user"
        operationId: "createSubscriptionForCurrentUserUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "subscriptionModel"
            description: "subscriptionModel"
            required: true
            schema: 
              $ref: "#/definitions/EditSubscriptionModel"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/SubscriptionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "ACTIVITIES"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/subscriptions/me_post"
        x-pretty-name: "createSubscriptionForCurrentUser"
    /rest/organizations/{organizationId}/subscriptions/me/{subscriptionId}: 
      get: 
        tags: 
          - "Subscription"
        summary: "Get a subscription for current user"
        operationId: "getCurrentUserSubscriptionByIdUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "subscriptionId"
            in: "path"
            description: "subscriptionId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SubscriptionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "ORGANIZATION"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/subscriptions/me/paramId_get"
        x-pretty-name: "getCurrentUserSubscriptionById"
      put: 
        tags: 
          - "Subscription"
        summary: "Edit a subscription for current user"
        operationId: "editSubscriptionForCurrentUserUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "subscriptionId"
            in: "path"
            description: "subscriptionId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "subscriptionModel"
            description: "subscriptionModel"
            required: true
            schema: 
              $ref: "#/definitions/EditSubscriptionModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SubscriptionModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "ACTIVITIES"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/subscriptions/me/paramId_put"
        x-pretty-name: "editSubscriptionForCurrentUser"
      delete: 
        tags: 
          - "Subscription"
        summary: "Delete a subscription for current user"
        operationId: "deleteCurrentUserSubscriptionByIdUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "subscriptionId"
            in: "path"
            description: "subscriptionId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "ACTIVITIES"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/subscriptions/me/paramId_delete"
        x-pretty-name: "deleteCurrentUserSubscriptionById"
    /rest/organizations/{organizationId}/subscriptions/{subscriptionId}: 
      get: 
        tags: 
          - "Subscription"
        summary: "Get a subscription for organization"
        operationId: "getSubscriptionByIdUsingGET_1"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "subscriptionId"
            in: "path"
            description: "subscriptionId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SubscriptionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SUBSCRIPTION"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/subscriptions/paramId_get"
        x-pretty-name: "getSubscriptionById"
      put: 
        tags: 
          - "Subscription"
        summary: "Edit a subscription for organization"
        operationId: "editSubscriptionUsingPUT_1"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "subscriptionId"
            in: "path"
            description: "subscriptionId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "subscriptionModel"
            description: "subscriptionModel"
            required: true
            schema: 
              $ref: "#/definitions/EditSubscriptionModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SubscriptionModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SUBSCRIPTION"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/subscriptions/paramId_put"
        x-pretty-name: "editSubscription"
      delete: 
        tags: 
          - "Subscription"
        summary: "Delete a subscription for organization"
        operationId: "deleteSubscriptionByIdUsingDELETE_1"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "subscriptionId"
            in: "path"
            description: "subscriptionId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SUBSCRIPTION"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/subscriptions/paramId_delete"
        x-pretty-name: "deleteSubscriptionById"
    /rest/subscriptions: 
      get: 
        tags: 
          - "Global Subscriptions"
        summary: "Get global subscriptions"
        operationId: "getSubscriptionsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/SubscriptionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INFRASTRUCTURE"
          global: "true"
          type: "VIEW"
        uiOperationId: "/rest/subscriptions_get"
        x-pretty-name: "getSubscriptions"
      post: 
        tags: 
          - "Global Subscriptions"
        summary: "Create a global subscription"
        operationId: "createSubscriptionUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            in: "body"
            name: "subscriptionModel"
            description: "subscriptionModel"
            required: true
            schema: 
              $ref: "#/definitions/EditSubscriptionModel"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/SubscriptionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INFRASTRUCTURE"
          global: "true"
          type: "EDIT"
        uiOperationId: "/rest/subscriptions_post"
        x-pretty-name: "createSubscription"
    /rest/subscriptions/{subscriptionId}: 
      get: 
        tags: 
          - "Global Subscriptions"
        summary: "Get a global subscription"
        operationId: "getSubscriptionByIdUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "subscriptionId"
            in: "path"
            description: "subscriptionId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SubscriptionModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INFRASTRUCTURE"
          global: "true"
          type: "VIEW"
        uiOperationId: "/rest/subscriptions/paramId_get"
        x-pretty-name: "getSubscriptionById"
      put: 
        tags: 
          - "Global Subscriptions"
        summary: "Edit a global subscription"
        operationId: "editSubscriptionUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "subscriptionId"
            in: "path"
            description: "subscriptionId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "subscriptionModel"
            description: "subscriptionModel"
            required: true
            schema: 
              $ref: "#/definitions/EditSubscriptionModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SubscriptionModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INFRASTRUCTURE"
          global: "true"
          type: "EDIT"
        uiOperationId: "/rest/subscriptions/paramId_put"
        x-pretty-name: "editSubscription"
      delete: 
        tags: 
          - "Global Subscriptions"
        summary: "Delete a global subscription"
        operationId: "deleteSubscriptionByIdUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "subscriptionId"
            in: "path"
            description: "subscriptionId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "INFRASTRUCTURE"
          global: "true"
          type: "EDIT"
        uiOperationId: "/rest/subscriptions/paramId_delete"
        x-pretty-name: "deleteSubscriptionById"
  securityDefinitions: 
    oauth2: 
      type: "oauth2"
      authorizationUrl: "https://platformdev.cloud.coveo.com/oauth/authorize"
      flow: "implicit"
      scopes: 
        full: "Required"
  definitions: 
    SubscriptionPatternModel: 
      type: "object"
      properties: 
        content: 
          type: "object"
          additionalProperties: 
            type: "string"
        operations: 
          type: "array"
          items: 
            type: "string"
        resourceTypes: 
          type: "array"
          items: 
            type: "string"
        resultTypes: 
          type: "array"
          items: 
            type: "string"
    SubscriptionModel: 
      type: "object"
      properties: 
        createdDate: 
          type: "integer"
          format: "int64"
        description: 
          type: "string"
        enabled: 
          type: "boolean"
        frequency: 
          type: "string"
          enum: 
            - "LIVE"
            - "HOURLY"
            - "DAILY"
            - "WEEKLY"
        id: 
          type: "string"
        lastModified: 
          type: "integer"
          format: "int64"
        name: 
          type: "string"
        organizationId: 
          type: "string"
        parameters: 
          type: "object"
          additionalProperties: 
            type: "string"
        pattern: 
          $ref: "#/definitions/SubscriptionPatternModel"
        type: 
          type: "string"
          enum: 
            - "EMAIL"
            - "EMAIL_JSON"
            - "WEB_HOOK"
        userId: 
          type: "string"
    EditSubscriptionModel: 
      type: "object"
      properties: 
        description: 
          type: "string"
        enabled: 
          type: "boolean"
        frequency: 
          type: "string"
          enum: 
            - "LIVE"
            - "HOURLY"
            - "DAILY"
            - "WEEKLY"
        name: 
          type: "string"
        parameters: 
          type: "object"
          additionalProperties: 
            type: "string"
        pattern: 
          $ref: "#/definitions/SubscriptionPatternModel"
        type: 
          type: "string"
          enum: 
            - "EMAIL"
            - "EMAIL_JSON"
            - "WEB_HOOK"

