---
  swagger: "2.0"
  info: 
    description: "API for Coveo Platform"
    title: "Coveo Platform API"
    termsOfService: "Coveo API terms of service"
    contact: 
      name: "Coveo"
      url: "www.coveo.com"
      email: "support@coveo.com"
    license: {}
  host: "platformdev.cloud.coveo.com:443"
  basePath: "/"
  tags: 
    - 
      name: "Privilege Evaluator"
      description: "Privilege Request Evaluator Resource"
    - 
      name: "Privilege Masks"
      description: "Privilege Mask Resource"
    - 
      name: "Group Invites"
      description: "Group Invite Resource"
    - 
      name: "Organization Members"
      description: "Organization Member Resource"
    - 
      name: "Organization Realms"
      description: "Organization Realm Resource"
    - 
      name: "Api Keys Templates"
      description: "Api Key Template Resource"
    - 
      name: "Groups"
      description: "Group Resource"
    - 
      name: "Global Group Realms"
      description: "Global Group Realm Resource"
    - 
      name: "Api Keys"
      description: "Api Key Resource"
    - 
      name: "Organization Invites"
      description: "Organization Invite Resource"
    - 
      name: "Global Groups"
      description: "Global Group Resource"
    - 
      name: "Group Realms"
      description: "Group Realm Resource"
    - 
      name: "Invites"
      description: "Invite Resource"
    - 
      name: "Privileges"
      description: "Global Privilege Resource"
    - 
      name: "Global Group Members"
      description: "Global Group Member Resource"
    - 
      name: "Group Members"
      description: "Group Member Resource"
    - 
      name: "OAuth2 Client Privileges"
      description: "O Auth 2 Client Privilege Resource"
    - 
      name: "Organization Privileges"
      description: "Organization Privilege Resource"
  paths: 
    /rest/globalgroups: 
      get: 
        tags: 
          - "Global Groups"
        summary: "Get all global groups"
        operationId: "getGlobalGroupsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/GlobalGroupModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalgroups_get"
        x-pretty-name: "getGlobalGroups"
      post: 
        tags: 
          - "Global Groups"
        summary: "Create a new global group"
        operationId: "createGlobalGroupUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            in: "body"
            name: "globalGroupModel"
            description: "globalGroupModel"
            required: true
            schema: 
              $ref: "#/definitions/GlobalGroupModel"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/JsonStringIdWrapper"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalgroups_post"
        x-pretty-name: "createGlobalGroup"
    /rest/globalgroups/{globalGroupId}: 
      get: 
        tags: 
          - "Global Groups"
        summary: "Get global group details"
        operationId: "getGlobalGroupUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "globalGroupId"
            in: "path"
            description: "globalGroupId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/GlobalGroupModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalgroups/paramId_get"
        x-pretty-name: "getGlobalGroup"
      put: 
        tags: 
          - "Global Groups"
        summary: "Update an existing global group"
        operationId: "updateGlobalGroupUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "globalGroupId"
            in: "path"
            description: "globalGroupId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "globalGroupModel"
            description: "globalGroupModel"
            required: true
            schema: 
              $ref: "#/definitions/GlobalGroupModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalgroups/paramId_put"
        x-pretty-name: "updateGlobalGroup"
      delete: 
        tags: 
          - "Global Groups"
        summary: "Delete an existing global group"
        operationId: "deleteGlobalGroupUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "globalGroupId"
            in: "path"
            description: "globalGroupId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalgroups/paramId_delete"
        x-pretty-name: "deleteGlobalGroup"
    /rest/globalgroups/{globalGroupId}/members: 
      get: 
        tags: 
          - "Global Group Members"
        summary: "Get all the global group's members"
        operationId: "getGlobalGroupMembersUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "globalGroupId"
            in: "path"
            description: "globalGroupId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/MemberModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalgroups/paramId/members_get"
        x-pretty-name: "getGlobalGroupMembers"
      post: 
        tags: 
          - "Global Group Members"
        summary: "Add user to the specified global group"
        operationId: "addGlobalGroupMemberUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            in: "body"
            name: "memberModel"
            description: "memberModel"
            required: true
            schema: 
              $ref: "#/definitions/MemberModel"
          - 
            name: "globalGroupId"
            in: "path"
            description: "globalGroupId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalgroups/paramId/members_post"
        x-pretty-name: "addGlobalGroupMember"
    /rest/globalgroups/{globalGroupId}/members/{username}: 
      get: 
        tags: 
          - "Global Group Members"
        summary: "Get a global group user"
        operationId: "getGlobalGroupMemberUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "globalGroupId"
            in: "path"
            description: "globalGroupId"
            required: true
            type: "string"
          - 
            name: "username"
            in: "path"
            description: "username"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/MemberModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalgroups/paramId/members/paramId_get"
        x-pretty-name: "getGlobalGroupMember"
      delete: 
        tags: 
          - "Global Group Members"
        summary: "Delete a user from the specified global group"
        operationId: "deleteGlobalGroupMemberUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "username"
            in: "path"
            description: "username"
            required: true
            type: "string"
          - 
            name: "globalGroupId"
            in: "path"
            description: "globalGroupId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalgroups/paramId/members/paramId_delete"
        x-pretty-name: "deleteGlobalGroupMember"
    /rest/globalgroups/{globalGroupId}/realms: 
      get: 
        tags: 
          - "Global Group Realms"
        summary: "Get all the global group's realms"
        operationId: "getGlobalGroupRealmsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "globalGroupId"
            in: "path"
            description: "globalGroupId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/RealmModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalgroups/paramId/realms_get"
        x-pretty-name: "getGlobalGroupRealms"
      post: 
        tags: 
          - "Global Group Realms"
        summary: "Add a realm to the specified global group"
        operationId: "addGlobalGroupRealmUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            in: "body"
            name: "realmModel"
            description: "realmModel"
            required: true
            schema: 
              $ref: "#/definitions/RealmModel"
          - 
            name: "globalGroupId"
            in: "path"
            description: "globalGroupId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalgroups/paramId/realms_post"
        x-pretty-name: "addGlobalGroupRealm"
    /rest/globalgroups/{globalGroupId}/realms/{realmId}: 
      get: 
        tags: 
          - "Global Group Realms"
        summary: "Get a global group realm"
        operationId: "getGlobalGroupRealmUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "globalGroupId"
            in: "path"
            description: "globalGroupId"
            required: true
            type: "string"
          - 
            name: "realmId"
            in: "path"
            description: "realmId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/RealmModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalgroups/paramId/realms/paramId_get"
        x-pretty-name: "getGlobalGroupRealm"
      delete: 
        tags: 
          - "Global Group Realms"
        summary: "Delete a realm from the specified global group"
        operationId: "deleteGlobalGroupRealmUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "realmId"
            in: "path"
            description: "realmId"
            required: true
            type: "string"
          - 
            name: "globalGroupId"
            in: "path"
            description: "globalGroupId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalgroups/paramId/realms/paramId_delete"
        x-pretty-name: "deleteGlobalGroupRealm"
    /rest/globalprivileges: 
      get: 
        tags: 
          - "Privileges"
        summary: "Get all possible global privileges"
        operationId: "getGlobalPrivilegesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/GlobalPrivilegeModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalprivileges_get"
        x-pretty-name: "getGlobalPrivileges"
    /rest/invites: 
      get: 
        tags: 
          - "Invites"
        summary: "Get all the groups where a user is invited."
        operationId: "getInvitesUsingGET_1"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/LightGroupModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/invites_get"
        x-pretty-name: "getInvites"
    /rest/oauth2clients/{clientId}/privileges: 
      get: 
        tags: 
          - "OAuth2 Client Privileges"
        summary: "Get client privileges"
        operationId: "getClientPrivilegeUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "clientId"
            in: "path"
            description: "clientId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/OAuth2ClientPrivilegeModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/oauth2clients/paramId/privileges_get"
        x-pretty-name: "getClientPrivilege"
      put: 
        tags: 
          - "OAuth2 Client Privileges"
        summary: "Update client privileges"
        operationId: "updateClientPrivilegeUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "clientId"
            in: "path"
            description: "clientId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "clientModel"
            description: "clientModel"
            required: true
            schema: 
              $ref: "#/definitions/OAuth2ClientPrivilegeModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/OAuth2ClientPrivilegeModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/oauth2clients/paramId/privileges_put"
        x-pretty-name: "updateClientPrivilege"
      delete: 
        tags: 
          - "OAuth2 Client Privileges"
        summary: "Delete client privileges"
        operationId: "deleteClientPrivilegeUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "clientId"
            in: "path"
            description: "clientId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/OAuth2ClientPrivilegeModel"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/oauth2clients/paramId/privileges_delete"
        x-pretty-name: "deleteClientPrivilege"
    /rest/organizations/{organizationId}/apikeys: 
      get: 
        tags: 
          - "Api Keys"
        summary: "Get all api keys for this organization"
        operationId: "getApiKeysUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/ApiKeyModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/apikeys_get"
        x-pretty-name: "getApiKeys"
      post: 
        tags: 
          - "Api Keys"
        summary: "Create a new api key for this organization"
        operationId: "createApiKeyUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "apiKeyModel"
            description: "apiKeyModel"
            required: true
            schema: 
              $ref: "#/definitions/ApiKeyModel"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/ApiKeyModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/apikeys_post"
        x-pretty-name: "createApiKey"
    /rest/organizations/{organizationId}/apikeys/{apiKeyId}: 
      get: 
        tags: 
          - "Api Keys"
        summary: "Get an api key details"
        operationId: "getApiKeyUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "apiKeyId"
            in: "path"
            description: "apiKeyId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ApiKeyModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/apikeys/paramId_get"
        x-pretty-name: "getApiKey"
      put: 
        tags: 
          - "Api Keys"
        summary: "Update an existing api key"
        operationId: "updateApiKeyUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "apiKeyId"
            in: "path"
            description: "apiKeyId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "apiKeyModel"
            description: "apiKeyModel"
            required: true
            schema: 
              $ref: "#/definitions/ApiKeyModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/apikeys/paramId_put"
        x-pretty-name: "updateApiKey"
      delete: 
        tags: 
          - "Api Keys"
        summary: "Delete an api key"
        operationId: "deleteApiKeyUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "apiKeyId"
            in: "path"
            description: "apiKeyId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/apikeys/paramId_delete"
        x-pretty-name: "deleteApiKey"
    /rest/organizations/{organizationId}/apikeys/{apiKeyId}/activate: 
      put: 
        tags: 
          - "Api Keys"
        summary: "Activate an existing api key"
        operationId: "activateApiKeyUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "apiKeyId"
            in: "path"
            description: "apiKeyId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/apikeys/paramId/activate_put"
        x-pretty-name: "activateApiKey"
    /rest/organizations/{organizationId}/apikeys/{apiKeyId}/disable: 
      put: 
        tags: 
          - "Api Keys"
        summary: "Disable an existing api key"
        operationId: "disableApiKeyUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "apiKeyId"
            in: "path"
            description: "apiKeyId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/apikeys/paramId/disable_put"
        x-pretty-name: "disableApiKey"
    /rest/organizations/{organizationId}/groups: 
      get: 
        tags: 
          - "Groups"
        summary: "Get all groups for the selected organization"
        operationId: "getGroupsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/GroupModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups_get"
        x-pretty-name: "getGroups"
      post: 
        tags: 
          - "Groups"
        summary: "Create a new group for the selected organization"
        operationId: "createGroupUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sendEmailToInvitedUsers"
            in: "query"
            description: "sendEmailToInvitedUsers"
            required: false
            type: "boolean"
            default: true
          - 
            in: "body"
            name: "groupModel"
            description: "groupModel"
            required: true
            schema: 
              $ref: "#/definitions/GroupModel"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/JsonStringIdWrapper"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups_post"
        x-pretty-name: "createGroup"
    /rest/organizations/{organizationId}/groups/{groupId}: 
      get: 
        tags: 
          - "Groups"
        summary: "Get group details for the selected organization"
        operationId: "getGroupUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/GroupModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId_get"
        x-pretty-name: "getGroup"
      put: 
        tags: 
          - "Groups"
        summary: "Update an existing group for the selected organization"
        operationId: "updateGroupUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
          - 
            name: "sendEmailToInvitedUsers"
            in: "query"
            description: "sendEmailToInvitedUsers"
            required: false
            type: "boolean"
            default: true
          - 
            in: "body"
            name: "groupModel"
            description: "groupModel"
            required: true
            schema: 
              $ref: "#/definitions/GroupModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId_put"
        x-pretty-name: "updateGroup"
      delete: 
        tags: 
          - "Groups"
        summary: "Delete an existing group for the selected organization"
        operationId: "deleteGroupUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId_delete"
        x-pretty-name: "deleteGroup"
    /rest/organizations/{organizationId}/groups/{groupId}/invites: 
      get: 
        tags: 
          - "Group Invites"
        summary: "Get all the group's invited members"
        operationId: "getInvitesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/InviteModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId/invites_get"
        x-pretty-name: "getInvites"
      post: 
        tags: 
          - "Group Invites"
        summary: "Invite a user to the specified group"
        operationId: "inviteMemberUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
          - 
            name: "sendEmail"
            in: "query"
            description: "sendEmail"
            required: false
            type: "boolean"
            default: true
          - 
            in: "body"
            name: "invitedModel"
            description: "invitedModel"
            required: true
            schema: 
              $ref: "#/definitions/InviteModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/InviteModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId/invites_post"
        x-pretty-name: "inviteMember"
    /rest/organizations/{organizationId}/groups/{groupId}/invites/accept: 
      post: 
        tags: 
          - "Group Invites"
        summary: "Accept an invite to the specified group"
        operationId: "acceptInviteUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId/invites/accept_post"
        x-pretty-name: "acceptInvite"
    /rest/organizations/{organizationId}/groups/{groupId}/invites/decline: 
      post: 
        tags: 
          - "Group Invites"
        summary: "Decline an invite to the specified group"
        operationId: "declineInviteUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId/invites/decline_post"
        x-pretty-name: "declineInvite"
    /rest/organizations/{organizationId}/groups/{groupId}/invites/{usernameOrEmail}: 
      delete: 
        tags: 
          - "Group Invites"
        summary: "Delete an invite from the specified group"
        operationId: "deleteInviteUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
          - 
            name: "usernameOrEmail"
            in: "path"
            description: "usernameOrEmail"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId/invites/paramId_delete"
        x-pretty-name: "deleteInvite"
    /rest/organizations/{organizationId}/groups/{groupId}/members: 
      get: 
        tags: 
          - "Group Members"
        summary: "Get all the group's members"
        operationId: "getGroupMembersUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/MemberModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId/members_get"
        x-pretty-name: "getGroupMembers"
      post: 
        tags: 
          - "Group Members"
        summary: "Add user to the specified group"
        operationId: "addGroupMemberUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "user"
            description: "user"
            required: true
            schema: 
              $ref: "#/definitions/MemberModel"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
          - 
            name: "sendEmailOnInvite"
            in: "query"
            description: "sendEmailOnInvite"
            required: false
            type: "boolean"
            default: true
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId/members_post"
        x-pretty-name: "addGroupMember"
    /rest/organizations/{organizationId}/groups/{groupId}/members/{username}: 
      get: 
        tags: 
          - "Group Members"
        summary: "Get a group user"
        operationId: "getGroupMemberUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
          - 
            name: "username"
            in: "path"
            description: "username"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/MemberModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId/members/paramId_get"
        x-pretty-name: "getGroupMember"
      delete: 
        tags: 
          - "Group Members"
        summary: "Delete a user from the specified group"
        operationId: "deleteGroupMemberUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "username"
            in: "path"
            description: "username"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId/members/paramId_delete"
        x-pretty-name: "deleteGroupMember"
    /rest/organizations/{organizationId}/groups/{groupId}/realms: 
      get: 
        tags: 
          - "Group Realms"
        summary: "Get all the group's realms"
        operationId: "getGroupRealmsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/RealmModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId/realms_get"
        x-pretty-name: "getGroupRealms"
      post: 
        tags: 
          - "Group Realms"
        summary: "Add a realm to the specified group"
        operationId: "addGroupRealmUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "newRealm"
            description: "newRealm"
            required: true
            schema: 
              $ref: "#/definitions/RealmModel"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId/realms_post"
        x-pretty-name: "addGroupRealm"
    /rest/organizations/{organizationId}/groups/{groupId}/realms/{realmId}: 
      get: 
        tags: 
          - "Group Realms"
        summary: "Get a group realm"
        operationId: "getGroupRealmUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
          - 
            name: "realmId"
            in: "path"
            description: "realmId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/RealmModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId/realms/paramId_get"
        x-pretty-name: "getGroupRealm"
      delete: 
        tags: 
          - "Group Realms"
        summary: "Delete a realm from the specified group"
        operationId: "deleteGroupRealmUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "realmId"
            in: "path"
            description: "realmId"
            required: true
            type: "string"
          - 
            name: "groupId"
            in: "path"
            description: "groupId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/groups/paramId/realms/paramId_delete"
        x-pretty-name: "deleteGroupRealm"
    /rest/organizations/{organizationId}/invites: 
      get: 
        tags: 
          - "Organization Invites"
        summary: "Get the invites of an organization"
        operationId: "getOrganizationInvitesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/OrganizationInviteModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/invites_get"
        x-pretty-name: "getOrganizationInvites"
    /rest/organizations/{organizationId}/members: 
      get: 
        tags: 
          - "Organization Members"
        summary: "Get the members of an organization"
        operationId: "getOrganizationMembersUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/OrganizationMemberModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/members_get"
        x-pretty-name: "getOrganizationMembers"
      put: 
        tags: 
          - "Organization Members"
        summary: "Edit members of an organization."
        operationId: "updateOrganizationMembersUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sendEmailToInvitedUsers"
            in: "query"
            description: "sendEmailToInvitedUsers"
            required: false
            type: "boolean"
            default: true
          - 
            in: "body"
            name: "invites"
            description: "invites"
            required: true
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/OrganizationInviteModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/OrganizationMemberModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/members_put"
        x-pretty-name: "updateOrganizationMembers"
    /rest/organizations/{organizationId}/members/privileges: 
      get: 
        tags: 
          - "Organization Members"
        summary: "Get all privileges for the authenticated member"
        operationId: "getOrganizationMemberPrivilegesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/PrivilegeModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/members/privileges_get"
        x-pretty-name: "getOrganizationMemberPrivileges"
    /rest/organizations/{organizationId}/members/{username}: 
      get: 
        tags: 
          - "Organization Members"
        summary: "Get a single member of an organization"
        operationId: "getOrganizationMemberUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "username"
            in: "path"
            description: "username"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/OrganizationMemberModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/members/paramId_get"
        x-pretty-name: "getOrganizationMember"
      put: 
        tags: 
          - "Organization Members"
        summary: "Update member of an organization."
        operationId: "updateOrganizationMemberUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "username"
            in: "path"
            description: "username"
            required: true
            type: "string"
          - 
            in: "body"
            name: "member"
            description: "member"
            required: true
            schema: 
              $ref: "#/definitions/OrganizationMemberModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/OrganizationMemberModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/members/paramId_put"
        x-pretty-name: "updateOrganizationMember"
      delete: 
        tags: 
          - "Organization Members"
        summary: "Delete a member of all groups in organization. Warning : User can still be included by domain."
        operationId: "deleteOrganizationMemberUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "username"
            in: "path"
            description: "username"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/members/paramId_delete"
        x-pretty-name: "deleteOrganizationMember"
    /rest/organizations/{organizationId}/members/{username}/groups: 
      get: 
        tags: 
          - "Organization Members"
        summary: "Get groups for an organization member"
        operationId: "getMemberGroupsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "username"
            in: "path"
            description: "username"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/GroupModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/members/paramId/groups_get"
        x-pretty-name: "getMemberGroups"
    /rest/organizations/{organizationId}/privileges: 
      get: 
        tags: 
          - "Organization Privileges"
        summary: "Get all possible privileges for the selected organization"
        operationId: "getOrganizationPrivilegesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/PrivilegeModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/privileges_get"
        x-pretty-name: "getOrganizationPrivileges"
    /rest/organizations/{organizationId}/privileges/apikeys: 
      get: 
        tags: 
          - "Organization Privileges"
        summary: "Get all possible privileges for api keys in the selected organization"
        operationId: "getApiKeyPrivilegesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/PrivilegeModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/privileges/apikeys_get"
        x-pretty-name: "getApiKeyPrivileges"
    /rest/organizations/{organizationId}/privileges/masks: 
      put: 
        tags: 
          - "Privilege Masks"
        summary: "Update organization privilege masks"
        operationId: "updateOrganizationPrivilegeMasksUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "privilegeMaskIds"
            description: "privilegeMaskIds"
            required: true
            schema: 
              type: "array"
              items: 
                type: "string"
        responses: 
          200: 
            description: "OK"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/privileges/masks_put"
        x-pretty-name: "updateOrganizationPrivilegeMasks"
    /rest/organizations/{organizationId}/privileges/me: 
      get: 
        tags: 
          - "Organization Privileges"
        summary: "Get all organization privileges for the authenticated member"
        operationId: "getOrganizationMemberPrivilegesUsingGET_1"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/PrivilegeModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/privileges/me_get"
        x-pretty-name: "getOrganizationMemberPrivileges"
    /rest/organizations/{organizationId}/privileges/token: 
      get: 
        tags: 
          - "Organization Privileges"
        summary: "Get all organization privileges for the access token"
        operationId: "getOrganizationMemberPrivilegesUsingGET_2"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "accessToken"
            in: "query"
            description: "accessToken"
            required: false
            type: "string"
          - 
            name: "X-Token-To-Validate"
            in: "header"
            description: "X-Token-To-Validate"
            required: false
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/GlobalPrivilegeModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/privileges/token_get"
        x-pretty-name: "getOrganizationMemberPrivileges"
      post: 
        tags: 
          - "Organization Privileges"
        summary: "Get all organization privileges for the access token"
        operationId: "getOrganizationMemberPrivilegesUsingPostUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "accessToken"
            in: "query"
            description: "accessToken"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/GlobalPrivilegeModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/privileges/token_post"
        x-pretty-name: "getOrganizationMemberPrivilegesUsingPost"
    /rest/organizations/{organizationId}/realms: 
      get: 
        tags: 
          - "Organization Realms"
        summary: "Get the realms of an organization"
        operationId: "getOrganizationRealmsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/OrganizationRealmModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/realms_get"
        x-pretty-name: "getOrganizationRealms"
      post: 
        tags: 
          - "Organization Realms"
        summary: "Add the realms to the specified groups of an organization"
        operationId: "addRealmsToGroupsUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "organizationRealmModels"
            description: "organizationRealmModels"
            required: true
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/OrganizationRealmModel"
        responses: 
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/realms_post"
        x-pretty-name: "addRealmsToGroups"
    /rest/organizations/{organizationId}/realms/{realmId}: 
      put: 
        tags: 
          - "Organization Realms"
        summary: "Update the realms of an organization"
        operationId: "updateRealmsInGroupsUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "realmId"
            in: "path"
            description: "realmId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "organizationRealmModel"
            description: "organizationRealmModel"
            required: true
            schema: 
              $ref: "#/definitions/OrganizationRealmModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/OrganizationRealmModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/organizations/paramId/realms/paramId_put"
        x-pretty-name: "updateRealmsInGroups"
    /rest/privilege/evaluate: 
      post: 
        tags: 
          - "Privilege Evaluator"
        summary: "Evaluate a privilege request"
        operationId: "evaluateUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            in: "body"
            name: "privilegeRequestModel"
            description: "privilegeRequestModel"
            required: true
            schema: 
              $ref: "#/definitions/PrivilegeRequestModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/PrivilegeRequestModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/privilege/evaluate_post"
        x-pretty-name: "evaluate"
    /rest/privileges/masks: 
      get: 
        tags: 
          - "Privilege Masks"
        summary: "Get privilege masks"
        operationId: "getPrivilegeMasksUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/PrivilegeMaskModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/privileges/masks_get"
        x-pretty-name: "getPrivilegeMasks"
      post: 
        tags: 
          - "Privilege Masks"
        summary: "Create privilege mask"
        operationId: "createPrivilegeMaskUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            in: "body"
            name: "privilegeMaskModel"
            description: "privilegeMaskModel"
            required: true
            schema: 
              $ref: "#/definitions/PrivilegeMaskModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/PrivilegeMaskModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/privileges/masks_post"
        x-pretty-name: "createPrivilegeMask"
    /rest/privileges/masks/{privilegeMaskId}: 
      get: 
        tags: 
          - "Privilege Masks"
        summary: "Get privilege mask"
        operationId: "getPrivilegeMaskUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "privilegeMaskId"
            in: "path"
            description: "privilegeMaskId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/PrivilegeMaskModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/privileges/masks/paramId_get"
        x-pretty-name: "getPrivilegeMask"
      put: 
        tags: 
          - "Privilege Masks"
        summary: "Update privilege mask"
        operationId: "updatePrivilegeMaskUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "privilegeMaskId"
            in: "path"
            description: "privilegeMaskId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "privilegeMaskModel"
            description: "privilegeMaskModel"
            required: true
            schema: 
              $ref: "#/definitions/PrivilegeMaskModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/PrivilegeMaskModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/privileges/masks/paramId_put"
        x-pretty-name: "updatePrivilegeMask"
      delete: 
        tags: 
          - "Privilege Masks"
        summary: "Delete privilege mask"
        operationId: "deletePrivilegeMaskUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "privilegeMaskId"
            in: "path"
            description: "privilegeMaskId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/privileges/masks/paramId_delete"
        x-pretty-name: "deletePrivilegeMask"
    /rest/privileges/me: 
      get: 
        tags: 
          - "Privileges"
        summary: "Get global privileges for user."
        operationId: "getGlobalPrivilegesForAuthenticationUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/GlobalPrivilegeModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/privileges/me_get"
        x-pretty-name: "getGlobalPrivilegesForAuthentication"
    /rest/privileges/token: 
      get: 
        tags: 
          - "Privileges"
        summary: "Get global privileges for access token."
        operationId: "getGlobalPrivilegesForTokenUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "accessToken"
            in: "query"
            description: "accessToken"
            required: false
            type: "string"
          - 
            name: "X-Token-To-Validate"
            in: "header"
            description: "X-Token-To-Validate"
            required: false
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/GlobalPrivilegeModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/privileges/token_get"
        x-pretty-name: "getGlobalPrivilegesForToken"
      post: 
        tags: 
          - "Privileges"
        summary: "Get global privileges for access token."
        operationId: "getGlobalPrivilegesForTokenUsingPostUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "accessToken"
            in: "query"
            description: "accessToken"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/GlobalPrivilegeModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/privileges/token_post"
        x-pretty-name: "getGlobalPrivilegesForTokenUsingPost"
    /rest/templates/apikeys: 
      get: 
        tags: 
          - "Api Keys Templates"
        summary: "Get all api key templates"
        operationId: "getApiKeyTemplatesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/ApiKeyTemplateModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/templates/apikeys_get"
        x-pretty-name: "getApiKeyTemplates"
    /rest/templates/apikeys/{apiKeyTemplateId}: 
      get: 
        tags: 
          - "Api Keys Templates"
        summary: "Get an api key template details"
        operationId: "getApiKeyTemplateUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "apiKeyTemplateId"
            in: "path"
            description: "apiKeyTemplateId"
            required: false
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ApiKeyTemplateModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/templates/apikeys/paramId_get"
        x-pretty-name: "getApiKeyTemplate"
  securityDefinitions: 
    oauth2: 
      type: "oauth2"
      authorizationUrl: "https://platformdev.cloud.coveo.com/oauth/authorize"
      flow: "implicit"
      scopes: 
        full: "Required"
  definitions: 
    OrganizationInviteModel: 
      type: "object"
      properties: 
        email: 
          type: "string"
        groupInvites: 
          type: "array"
          items: 
            $ref: "#/definitions/OrganizationGroupInviteModel"
        provider: 
          type: "string"
          enum: 
            - "SALESFORCE"
            - "SALESFORCE_SANDBOX"
            - "GOOGLE"
            - "OFFICE365"
            - "SAML"
            - "OTHER"
        providerUsername: 
          type: "string"
        username: 
          type: "string"
    Collection«GlobalPrivilegeModel»: 
      type: "object"
    PrivilegeSetTemplateModel: 
      type: "object"
      properties: 
        id: 
          type: "string"
        privilegeModels: 
          type: "array"
          items: 
            $ref: "#/definitions/GlobalPrivilegeModel"
    GlobalPrivilegeModel: 
      type: "object"
      properties: 
        global: 
          type: "boolean"
        owner: 
          type: "string"
        targetDomain: 
          type: "string"
        targetIds: 
          type: "array"
          items: 
            type: "string"
        type: 
          type: "string"
    InviteModel: 
      type: "object"
      properties: 
        email: 
          type: "string"
        expirationDate: 
          type: "integer"
          format: "int64"
        invitedDate: 
          type: "integer"
          format: "int64"
        provider: 
          type: "string"
          enum: 
            - "SALESFORCE"
            - "SALESFORCE_SANDBOX"
            - "GOOGLE"
            - "OFFICE365"
            - "SAML"
            - "OTHER"
        providerUsername: 
          type: "string"
        username: 
          type: "string"
    GroupModel: 
      type: "object"
      properties: 
        deletable: 
          type: "boolean"
        displayName: 
          type: "string"
        id: 
          type: "string"
        invites: 
          type: "array"
          items: 
            $ref: "#/definitions/InviteModel"
        members: 
          type: "array"
          items: 
            $ref: "#/definitions/MemberModel"
        privileges: 
          type: "array"
          items: 
            $ref: "#/definitions/PrivilegeModel"
        realms: 
          type: "array"
          items: 
            $ref: "#/definitions/RealmModel"
    ApiKeyTemplateModel: 
      type: "object"
      properties: 
        allowedIps: 
          type: "array"
          items: 
            type: "string"
        deniedIps: 
          type: "array"
          items: 
            type: "string"
        description: 
          type: "string"
        displayName: 
          type: "string"
        enabled: 
          type: "boolean"
        id: 
          type: "string"
        privilegeSetTemplateModel: 
          $ref: "#/definitions/PrivilegeSetTemplateModel"
    OrganizationRealmModel: 
      type: "object"
      properties: 
        displayName: 
          type: "string"
        groups: 
          type: "array"
          items: 
            $ref: "#/definitions/IdAndDisplayNameModel"
        id: 
          type: "string"
        provider: 
          type: "string"
          enum: 
            - "SALESFORCE"
            - "SALESFORCE_SANDBOX"
            - "GOOGLE"
            - "OFFICE365"
            - "SAML"
            - "OTHER"
    UserModel: 
      type: "object"
      properties: 
        additionalInformation: 
          type: "object"
          additionalProperties: 
            type: "string"
        credentialsExpired: 
          type: "boolean"
        displayName: 
          type: "string"
        email: 
          type: "string"
        emailAliases: 
          type: "array"
          items: 
            type: "string"
        enabled: 
          type: "boolean"
        expired: 
          type: "boolean"
        lastLogin: 
          type: "integer"
          format: "int64"
        locked: 
          type: "boolean"
        provider: 
          type: "string"
          enum: 
            - "SALESFORCE"
            - "SALESFORCE_SANDBOX"
            - "GOOGLE"
            - "OFFICE365"
            - "SAML"
            - "OTHER"
        providerUsername: 
          type: "string"
        realms: 
          type: "array"
          items: 
            $ref: "#/definitions/UserRealmModel"
        samlIdentityProviderId: 
          type: "string"
        socialUser: 
          type: "boolean"
        username: 
          type: "string"
    RealmModel: 
      type: "object"
      properties: 
        displayName: 
          type: "string"
        id: 
          type: "string"
        provider: 
          type: "string"
          enum: 
            - "SALESFORCE"
            - "SALESFORCE_SANDBOX"
            - "GOOGLE"
            - "OFFICE365"
            - "SAML"
            - "OTHER"
    ApiKeyModel: 
      type: "object"
      properties: 
        allowedIps: 
          type: "array"
          items: 
            type: "string"
        createdBy: 
          $ref: "#/definitions/UserModel"
        createdDate: 
          type: "string"
          format: "date-time"
        deniedIps: 
          type: "array"
          items: 
            type: "string"
        description: 
          type: "string"
        displayName: 
          type: "string"
        enabled: 
          type: "boolean"
        id: 
          type: "string"
        organizationId: 
          type: "string"
        privileges: 
          type: "array"
          items: 
            $ref: "#/definitions/PrivilegeModel"
        value: 
          type: "string"
    IdAndDisplayNameModel: 
      type: "object"
      properties: 
        displayName: 
          type: "string"
        id: 
          type: "string"
    LightGroupModel: 
      type: "object"
      properties: 
        displayName: 
          type: "string"
        id: 
          type: "string"
        organizations: 
          type: "array"
          items: 
            $ref: "#/definitions/IdAndDisplayNameModel"
    OAuth2ClientPrivilegeModel: 
      type: "object"
      properties: 
        clientId: 
          type: "string"
        privileges: 
          type: "array"
          items: 
            $ref: "#/definitions/GlobalPrivilegeModel"
    MemberModel: 
      type: "object"
      properties: 
        displayName: 
          type: "string"
        email: 
          type: "string"
        lastLogin: 
          type: "integer"
          format: "int64"
        provider: 
          type: "string"
          enum: 
            - "SALESFORCE"
            - "SALESFORCE_SANDBOX"
            - "GOOGLE"
            - "OFFICE365"
            - "SAML"
            - "OTHER"
        providerUsername: 
          type: "string"
        username: 
          type: "string"
    PrivilegeRequestModel: 
      type: "object"
      properties: 
        approved: 
          type: "boolean"
        organizationId: 
          type: "string"
        requestedPrivilege: 
          $ref: "#/definitions/GlobalPrivilegeModel"
    PrivilegeModel: 
      type: "object"
      properties: 
        owner: 
          type: "string"
        targetDomain: 
          type: "string"
        targetIds: 
          type: "array"
          items: 
            type: "string"
        type: 
          type: "string"
    GlobalGroupModel: 
      type: "object"
      properties: 
        displayName: 
          type: "string"
        id: 
          type: "string"
        members: 
          type: "array"
          items: 
            $ref: "#/definitions/MemberModel"
        organizationActivated: 
          type: "boolean"
        privileges: 
          type: "array"
          items: 
            $ref: "#/definitions/GlobalPrivilegeModel"
        realms: 
          type: "array"
          items: 
            $ref: "#/definitions/RealmModel"
    PrivilegeMaskModel: 
      type: "object"
      properties: 
        id: 
          type: "string"
        organizationIds: 
          type: "array"
          items: 
            type: "string"
        privileges: 
          type: "array"
          items: 
            $ref: "#/definitions/PrivilegeModel"
    JsonStringIdWrapper: 
      type: "object"
      properties: 
        id: 
          type: "string"
    OrganizationGroupInviteModel: 
      type: "object"
      properties: 
        expirationDate: 
          type: "integer"
          format: "int64"
        group: 
          $ref: "#/definitions/IdAndDisplayNameModel"
        invitedDate: 
          type: "integer"
          format: "int64"
        inviter: 
          type: "string"
    OrganizationMemberGroupModel: 
      type: "object"
      properties: 
        displayName: 
          type: "string"
        id: 
          type: "string"
    OrganizationMemberModel: 
      type: "object"
      properties: 
        displayName: 
          type: "string"
        email: 
          type: "string"
        groups: 
          type: "array"
          items: 
            $ref: "#/definitions/OrganizationMemberGroupModel"
        provider: 
          type: "string"
          enum: 
            - "SALESFORCE"
            - "SALESFORCE_SANDBOX"
            - "GOOGLE"
            - "OFFICE365"
            - "SAML"
            - "OTHER"
        username: 
          type: "string"
    Collection«LightGroupModel»: 
      type: "object"
    UserRealmModel: 
      type: "object"
      properties: 
        member: 
          type: "boolean"
        realm: 
          $ref: "#/definitions/RealmModel"
        realmModel: 
          $ref: "#/definitions/RealmModel"

