---
  swagger: "2.0"
  info: 
    description: "API for Coveo Platform"
    title: "Coveo Platform API"
    termsOfService: "Coveo API terms of service"
    contact: 
      name: "Coveo"
      url: "www.coveo.com"
      email: "support@coveo.com"
    license: {}
  host: "platformdev.cloud.coveo.com:443"
  basePath: "/"
  tags: 
    - 
      name: "Security Providers"
      description: "Security Provider Service Resource"
    - 
      name: "Security Cache"
      description: "Security Cache Service Resource"
  paths: 
    /rest/organizations/{organizationId}/clusters/{organizationClusterId}/securityproviders: 
      get: 
        tags: 
          - "Security Providers"
        summary: "Get all security providers for an organization's cluster"
        operationId: "getSecurityProvidersForClusterUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "organizationClusterId"
            in: "path"
            description: "organizationClusterId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/SecurityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "ORGANIZATION_ADMINISTRATION"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/clusters/paramId/securityproviders_get"
        x-pretty-name: "getSecurityProvidersForCluster"
    /rest/organizations/{organizationId}/clusters/{organizationClusterId}/securityproviders/{securityProviderId}: 
      get: 
        tags: 
          - "Security Providers"
        summary: "Get a single security provider for an organization's cluster"
        operationId: "getSecurityProviderForClusterUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "organizationClusterId"
            in: "path"
            description: "organizationClusterId"
            required: true
            type: "string"
          - 
            name: "securityProviderId"
            in: "path"
            description: "securityProviderId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "ORGANIZATION_ADMINISTRATION"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/clusters/paramId/securityproviders/paramId_get"
        x-pretty-name: "getSecurityProviderForCluster"
      put: 
        tags: 
          - "Security Providers"
        summary: "Create or update a security provider for an organization's cluster"
        operationId: "createOrUpdateSecurityProviderForClusterUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "organizationClusterId"
            in: "path"
            description: "organizationClusterId"
            required: true
            type: "string"
          - 
            name: "securityProviderId"
            in: "path"
            description: "securityProviderId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "securityProviderModel"
            description: "securityProviderModel"
            required: true
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "ORGANIZATION_ADMINISTRATION"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/clusters/paramId/securityproviders/paramId_put"
        x-pretty-name: "createOrUpdateSecurityProviderForCluster"
      delete: 
        tags: 
          - "Security Providers"
        summary: "Remove a security provider from an organization's cluster"
        operationId: "removeSecurityProviderForClusterUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "organizationClusterId"
            in: "path"
            description: "organizationClusterId"
            required: true
            type: "string"
          - 
            name: "securityProviderId"
            in: "path"
            description: "securityProviderId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "ORGANIZATION_ADMINISTRATION"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/clusters/paramId/securityproviders/paramId_delete"
        x-pretty-name: "removeSecurityProviderForCluster"
    /rest/organizations/{organizationId}/clusters/{organizationClusterId}/securityproviders/{securityProviderId}/raw: 
      get: 
        tags: 
          - "Security Providers"
        summary: "Get the raw configuration of a security provider for an organization's cluster"
        operationId: "getSecurityProviderRawForClusterUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "organizationClusterId"
            in: "path"
            description: "organizationClusterId"
            required: true
            type: "string"
          - 
            name: "securityProviderId"
            in: "path"
            description: "securityProviderId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "ORGANIZATION_ADMINISTRATION"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/clusters/paramId/securityproviders/paramId/raw_get"
        x-pretty-name: "getSecurityProviderRawForCluster"
      put: 
        tags: 
          - "Security Providers"
        summary: "Create or update the raw configuration of a security provider for an organization's cluster"
        operationId: "createOrUpdateSecurityProviderRawForClusterUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "organizationClusterId"
            in: "path"
            description: "organizationClusterId"
            required: true
            type: "string"
          - 
            name: "securityProviderId"
            in: "path"
            description: "securityProviderId"
            required: true
            type: "string"
          - 
            name: "forceUpdate"
            in: "query"
            description: "forceUpdate"
            required: false
            type: "boolean"
            default: false
          - 
            in: "body"
            name: "securityProviderConfig"
            description: "securityProviderConfig"
            required: true
            schema: 
              $ref: "#/definitions/RawSecurityProviderConfig"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "ORGANIZATION_ADMINISTRATION"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/clusters/paramId/securityproviders/paramId/raw_put"
        x-pretty-name: "createOrUpdateSecurityProviderRawForCluster"
    /rest/organizations/{organizationId}/clusters/{organizationClusterId}/securityproviders/{securityProviderId}/{referenceType}/{referenceId}: 
      delete: 
        tags: 
          - "Security Providers"
        summary: "Remove a reference from a security provider"
        operationId: "removeReferenceFromSecurityProviderForClusterUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "organizationClusterId"
            in: "path"
            description: "organizationClusterId"
            required: true
            type: "string"
          - 
            name: "securityProviderId"
            in: "path"
            description: "securityProviderId"
            required: true
            type: "string"
          - 
            name: "referenceType"
            in: "path"
            description: "referenceType"
            required: true
            type: "string"
            enum: 
              - "SOURCE"
              - "SECURITY_PROVIDER"
          - 
            name: "referenceId"
            in: "path"
            description: "referenceId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "ORGANIZATION_ADMINISTRATION"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/clusters/paramId/securityproviders/paramId/paramId/paramId_delete"
        x-pretty-name: "removeReferenceFromSecurityProviderForCluster"
    /rest/organizations/{organizationId}/clusters/{organizationClusterId}/sources/{sourceId}/securityproviders/: 
      get: 
        tags: 
          - "Security Providers"
        summary: "Get all security providers for a source in an organization's cluster"
        operationId: "getSecurityProvidersForSourceUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "organizationClusterId"
            in: "path"
            description: "organizationClusterId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/SecurityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "ORGANIZATION_ADMINISTRATION"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/clusters/paramId/sources/paramId/securityproviders_get"
        x-pretty-name: "getSecurityProvidersForSource"
    /rest/organizations/{organizationId}/securitycache/entities/{providerId}: 
      get: 
        tags: 
          - "Security Cache"
        summary: "Get the entities for a specified security provider"
        operationId: "getEntitiesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "providerId"
            in: "path"
            description: "providerId"
            required: true
            type: "string"
          - 
            name: "states"
            in: "query"
            description: "states"
            required: false
            type: "array"
            items: 
              type: "string"
              enum: 
                - "UNKNOWN"
                - "UP_TO_DATE"
                - "NOT_UPDATED"
                - "OUT_OF_DATE"
                - "IN_ERROR"
                - "DISABLED"
            collectionFormat: "multi"
            enum: 
              - "UNKNOWN"
              - "UP_TO_DATE"
              - "NOT_UPDATED"
              - "OUT_OF_DATE"
              - "IN_ERROR"
              - "DISABLED"
          - 
            name: "page"
            in: "query"
            description: "page"
            required: false
            type: "integer"
            default: 0
            format: "int32"
          - 
            name: "perPage"
            in: "query"
            description: "perPage"
            required: false
            type: "integer"
            default: 100
            format: "int32"
          - 
            name: "usePageModel"
            in: "query"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/PageModel«SIDModel»"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_CACHE"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/securitycache/entities/paramId_get"
        x-pretty-name: "getEntities"
    /rest/organizations/{organizationId}/securitycache/entities/{providerId}/members: 
      get: 
        tags: 
          - "Security Cache"
        summary: "Get the members for a specified security provider"
        operationId: "getMembersUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "providerId"
            in: "path"
            description: "providerId"
            required: true
            type: "string"
          - 
            name: "states"
            in: "query"
            description: "states"
            required: false
            type: "array"
            items: 
              type: "string"
              enum: 
                - "UNKNOWN"
                - "UP_TO_DATE"
                - "NOT_UPDATED"
                - "OUT_OF_DATE"
                - "IN_ERROR"
                - "DISABLED"
            collectionFormat: "multi"
            enum: 
              - "UNKNOWN"
              - "UP_TO_DATE"
              - "NOT_UPDATED"
              - "OUT_OF_DATE"
              - "IN_ERROR"
              - "DISABLED"
          - 
            name: "page"
            in: "query"
            description: "page"
            required: false
            type: "integer"
            default: 0
            format: "int32"
          - 
            name: "perPage"
            in: "query"
            description: "perPage"
            required: false
            type: "integer"
            default: 100
            format: "int32"
          - 
            name: "usePageModel"
            in: "query"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/PageModel«SecurityCacheMemberModel»"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_CACHE"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/securitycache/entities/paramId/members_get"
        x-pretty-name: "getMembers"
    /rest/organizations/{organizationId}/securitycache/refresh: 
      post: 
        tags: 
          - "Security Cache"
        summary: "Triggers a refresh on the security cache"
        operationId: "refreshUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_CACHE"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/securitycache/refresh_post"
        x-pretty-name: "refresh"
    /rest/organizations/{organizationId}/securitycache/refresh/entity: 
      post: 
        tags: 
          - "Security Cache"
        summary: "Refreshes a single entity in the security cache"
        operationId: "refreshEntityUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "memberModel"
            description: "memberModel"
            required: true
            schema: 
              $ref: "#/definitions/SecurityCacheMemberModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_CACHE"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/securitycache/refresh/entity_post"
        x-pretty-name: "refreshEntity"
    /rest/organizations/{organizationId}/securitycache/schedule: 
      get: 
        tags: 
          - "Security Cache"
        summary: "Get the security cache refresh schedule"
        operationId: "getScheduleUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ScheduleModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        deprecated: true
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_CACHE"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/securitycache/schedule_get"
        x-pretty-name: "getSchedule"
      put: 
        tags: 
          - "Security Cache"
        summary: "Update the security cache refresh schedule"
        operationId: "updateRefreshScheduleUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "scheduleModel"
            description: "scheduleModel"
            required: true
            schema: 
              $ref: "#/definitions/ScheduleModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ScheduleModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        deprecated: true
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_CACHE"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/securitycache/schedule_put"
        x-pretty-name: "updateRefreshSchedule"
    /rest/organizations/{organizationId}/securitycache/schedules: 
      get: 
        tags: 
          - "Security Cache"
        summary: "Get the security cache schedules"
        operationId: "getSchedulesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ScheduleModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_CACHE"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/securitycache/schedules_get"
        x-pretty-name: "getSchedules"
    /rest/organizations/{organizationId}/securitycache/schedules/{scheduleId}: 
      get: 
        tags: 
          - "Security Cache"
        summary: "Get a security cache schedule"
        operationId: "getScheduleByIdUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "scheduleId"
            in: "path"
            description: "scheduleId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ScheduleModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_CACHE"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/securitycache/schedules/paramId_get"
        x-pretty-name: "getScheduleById"
      put: 
        tags: 
          - "Security Cache"
        summary: "Update a security cache schedule"
        operationId: "updateScheduleUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "scheduleId"
            in: "path"
            description: "scheduleId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "scheduleModel"
            description: "scheduleModel"
            required: true
            schema: 
              $ref: "#/definitions/ScheduleModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ScheduleModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_CACHE"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/securitycache/schedules/paramId_put"
        x-pretty-name: "updateSchedule"
    /rest/organizations/{organizationId}/securitycache/status: 
      get: 
        tags: 
          - "Security Cache"
        summary: "Get the security cache status"
        operationId: "getStatusUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SecurityCacheStatusModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_CACHE"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/securitycache/status_get"
        x-pretty-name: "getStatus"
    /rest/organizations/{organizationId}/securitycache/{providerId}/refresh: 
      post: 
        tags: 
          - "Security Cache"
        summary: "Triggers a refresh on a security provider"
        operationId: "refreshProviderUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "providerId"
            in: "path"
            description: "providerId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_PROVIDER"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/securitycache/paramId/refresh_post"
        x-pretty-name: "refreshProvider"
    /rest/organizations/{organizationId}/securityproviders: 
      get: 
        tags: 
          - "Security Providers"
        summary: "Get all security providers for an organization"
        operationId: "getSecurityProvidersUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/SecurityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_PROVIDER"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/securityproviders_get"
        x-pretty-name: "getSecurityProviders"
    /rest/organizations/{organizationId}/securityproviders/snapshots/{snapshotId}: 
      get: 
        tags: 
          - "Security Providers"
        summary: "Gets a security provider config snapshot"
        operationId: "getSnapshotUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "snapshotId"
            in: "path"
            description: "snapshotId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "object"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_PROVIDER"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/securityproviders/snapshots/paramId_get"
        x-pretty-name: "getSnapshot"
    /rest/organizations/{organizationId}/securityproviders/{securityProviderId}: 
      get: 
        tags: 
          - "Security Providers"
        summary: "Get a single security provider for an organization"
        operationId: "getSecurityProviderUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "securityProviderId"
            in: "path"
            description: "securityProviderId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_PROVIDER"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/securityproviders/paramId_get"
        x-pretty-name: "getSecurityProvider"
      put: 
        tags: 
          - "Security Providers"
        summary: "Create or update a security provider for an organization"
        operationId: "createOrUpdateSecurityProviderUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "securityProviderId"
            in: "path"
            description: "securityProviderId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "securityProviderModel"
            description: "securityProviderModel"
            required: true
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_PROVIDER"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/securityproviders/paramId_put"
        x-pretty-name: "createOrUpdateSecurityProvider"
      delete: 
        tags: 
          - "Security Providers"
        summary: "Remove a security provider from an organization"
        operationId: "removeSecurityProviderUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "securityProviderId"
            in: "path"
            description: "securityProviderId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_PROVIDER"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/securityproviders/paramId_delete"
        x-pretty-name: "removeSecurityProvider"
    /rest/organizations/{organizationId}/securityproviders/{securityProviderId}/raw: 
      get: 
        tags: 
          - "Security Providers"
        summary: "Get the raw configuration of a security provider for an organization"
        operationId: "getSecurityProviderRawUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "securityProviderId"
            in: "path"
            description: "securityProviderId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_PROVIDER"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/securityproviders/paramId/raw_get"
        x-pretty-name: "getSecurityProviderRaw"
      put: 
        tags: 
          - "Security Providers"
        summary: "Create or update the raw configuration of a security provider for an organization"
        operationId: "createOrUpdateSecurityProviderRawUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "securityProviderId"
            in: "path"
            description: "securityProviderId"
            required: true
            type: "string"
          - 
            name: "forceUpdate"
            in: "query"
            description: "forceUpdate"
            required: false
            type: "boolean"
            default: false
          - 
            in: "body"
            name: "securityProviderConfig"
            description: "securityProviderConfig"
            required: true
            schema: 
              $ref: "#/definitions/RawSecurityProviderConfig"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_PROVIDER"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/securityproviders/paramId/raw_put"
        x-pretty-name: "createOrUpdateSecurityProviderRaw"
    /rest/organizations/{organizationId}/securityproviders/{securityProviderId}/{referenceType}/{referenceId}: 
      delete: 
        tags: 
          - "Security Providers"
        summary: "Remove a reference from a security provider"
        operationId: "removeReferenceFromSecurityProviderUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "securityProviderId"
            in: "path"
            description: "securityProviderId"
            required: true
            type: "string"
          - 
            name: "referenceType"
            in: "path"
            description: "referenceType"
            required: true
            type: "string"
            enum: 
              - "SOURCE"
              - "SECURITY_PROVIDER"
          - 
            name: "referenceId"
            in: "path"
            description: "referenceId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
            schema: 
              $ref: "#/definitions/SecurityProviderModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SECURITY_PROVIDER"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/securityproviders/paramId/paramId/paramId_delete"
        x-pretty-name: "removeReferenceFromSecurityProvider"
  securityDefinitions: 
    oauth2: 
      type: "oauth2"
      authorizationUrl: "https://platformdev.cloud.coveo.com/oauth/authorize"
      flow: "implicit"
      scopes: 
        full: "Required"
  definitions: 
    UserIdentityModel: 
      type: "object"
      properties: 
        name: 
          type: "string"
        password: 
          type: "string"
        username: 
          type: "string"
    SecurityProviderStatisticsModel: 
      type: "object"
      properties: 
        numberOfEntitiesByState: 
          type: "object"
          additionalProperties: 
            type: "integer"
            format: "int32"
        numberOfEntitiesInError: 
          type: "integer"
          format: "int32"
        totalNumberOfEntities: 
          type: "integer"
          format: "int32"
    SecurityCacheStatusModel: 
      type: "object"
      properties: 
        currentStatus: 
          $ref: "#/definitions/SecurityCacheCurrentStatusModel"
        lastRefreshOperation: 
          $ref: "#/definitions/SecurityCacheLastRefreshOperationModel"
        nextRefreshOperation: 
          $ref: "#/definitions/NextOperation"
        organizationClusterId: 
          type: "string"
        statistics: 
          $ref: "#/definitions/SecurityCacheStatisticsModel"
    PageModel«SIDModel»: 
      type: "object"
      properties: 
        items: 
          type: "array"
          items: 
            $ref: "#/definitions/SIDModel"
        totalEntries: 
          type: "integer"
          format: "int64"
        totalPages: 
          type: "integer"
          format: "int32"
    DataFile: 
      type: "object"
      properties: 
        data: 
          type: "string"
        sensitive: 
          type: "boolean"
    ScheduleModel: 
      type: "object"
      properties: 
        enabled: 
          type: "boolean"
        frequency: 
          $ref: "#/definitions/ScheduleFrequency"
        id: 
          type: "string"
        organizationId: 
          type: "string"
        refreshType: 
          type: "string"
          enum: 
            - "REBUILD"
            - "FULL_REFRESH"
            - "INCREMENTAL_REFRESH"
            - "DELETION"
            - "SECURITY_CACHE_REFRESH"
            - "SECURITY_CACHE_REFRESH_ENTITIES_IN_ERROR"
        resourceId: 
          type: "string"
        scheduleType: 
          type: "string"
          enum: 
            - "SECURITY_CACHE"
            - "SOURCE"
    SecurityCacheMemberModel: 
      type: "object"
      properties: 
        infos: 
          type: "array"
          items: 
            $ref: "#/definitions/SecurityCacheMemberInfoModel"
        lastUpdateDate: 
          type: "integer"
          format: "int64"
        lastUpdateErrorDetail: 
          type: "string"
        lastUpdateResult: 
          type: "string"
          enum: 
            - "NONE"
            - "SUCCESS"
            - "ACCESS_DENIED"
            - "TIMED_OUT"
            - "ENTITY_IS_INVALID"
            - "ENTITY_IS_UNAVAILABLE"
            - "SECURITY_PROVIDER_IS_UNAVAILABLE"
            - "SECURITY_PROVIDER_IS_UNREACHABLE"
            - "SECURITY_PROVIDER_IS_NOT_READY"
            - "UNEXPECTED_ERROR"
        name: 
          type: "string"
        provider: 
          type: "string"
        state: 
          type: "string"
          enum: 
            - "UNKNOWN"
            - "UP_TO_DATE"
            - "NOT_UPDATED"
            - "OUT_OF_DATE"
            - "IN_ERROR"
            - "DISABLED"
        type: 
          type: "string"
    CascadingSecurityProvider: 
      type: "object"
      properties: 
        id: 
          type: "string"
        name: 
          type: "string"
        type: 
          type: "string"
          enum: 
            - "ACTIVE_DIRECTORY"
            - "ACTIVE_DIRECTORY_WITHOUT_EXPANSION"
            - "ALFRESCO"
            - "BOX"
            - "CLAIMS"
            - "CLAIMS_TO_EMAIL"
            - "CONFLUENCE"
            - "CONFLUENCE2"
            - "CUSTOM"
            - "DATABASE"
            - "DROPBOX_FOR_BUSINESS"
            - "EMAIL"
            - "EXCHANGE"
            - "EXPANDED"
            - "FILE_SYSTEM"
            - "GOOGLE_DRIVE_DOMAIN_WIDE"
            - "JIRA2"
            - "JIRA_LEGACY"
            - "JIVE"
            - "LDAP"
            - "LIFERAY"
            - "MICROSOFT_DYNAMICS"
            - "MICROSOFT_DYNAMICS_LEGACY"
            - "OFFICE365"
            - "OPENTEXT_CONTENT_SERVER"
            - "ORACLE_KNOWLEDGE"
            - "ORACLE_UCM"
            - "SALESFORCE"
            - "SALESFORCE_LEGACY"
            - "SHAREPOINT"
            - "SITECORE"
            - "SITECORE_LEGACY"
            - "WEBSPHERE_WCM"
            - "WINDCHILL"
            - "YAMMER"
    SecurityProviderModel: 
      type: "object"
      properties: 
        cascadingSecurityProviders: 
          type: "object"
          additionalProperties: 
            $ref: "#/definitions/CascadingSecurityProvider"
        caseSensitive: 
          type: "boolean"
        currentStatus: 
          $ref: "#/definitions/SecurityProviderCurrentStatusModel"
        displayName: 
          type: "string"
        id: 
          type: "string"
        lastRefreshOperation: 
          $ref: "#/definitions/SecurityProviderLastRefreshOperationModel"
        name: 
          type: "string"
        nodeRequired: 
          type: "boolean"
        organizationClusterId: 
          type: "string"
        parameters: 
          type: "object"
          additionalProperties: 
            $ref: "#/definitions/ParameterModel"
        referencedBy: 
          type: "array"
          items: 
            $ref: "#/definitions/SecurityProviderReferenceModel"
        statistics: 
          $ref: "#/definitions/SecurityProviderStatisticsModel"
        type: 
          type: "string"
          enum: 
            - "ACTIVE_DIRECTORY"
            - "ACTIVE_DIRECTORY_WITHOUT_EXPANSION"
            - "ALFRESCO"
            - "BOX"
            - "CLAIMS"
            - "CLAIMS_TO_EMAIL"
            - "CONFLUENCE"
            - "CONFLUENCE2"
            - "CUSTOM"
            - "DATABASE"
            - "DROPBOX_FOR_BUSINESS"
            - "EMAIL"
            - "EXCHANGE"
            - "EXPANDED"
            - "FILE_SYSTEM"
            - "GOOGLE_DRIVE_DOMAIN_WIDE"
            - "JIRA2"
            - "JIRA_LEGACY"
            - "JIVE"
            - "LDAP"
            - "LIFERAY"
            - "MICROSOFT_DYNAMICS"
            - "MICROSOFT_DYNAMICS_LEGACY"
            - "OFFICE365"
            - "OPENTEXT_CONTENT_SERVER"
            - "ORACLE_KNOWLEDGE"
            - "ORACLE_UCM"
            - "SALESFORCE"
            - "SALESFORCE_LEGACY"
            - "SHAREPOINT"
            - "SITECORE"
            - "SITECORE_LEGACY"
            - "WEBSPHERE_WCM"
            - "WINDCHILL"
            - "YAMMER"
        userIdentities: 
          type: "object"
          additionalProperties: 
            $ref: "#/definitions/UserIdentityModel"
    SecurityProviderReferenceModel: 
      type: "object"
      properties: 
        attributes: 
          type: "object"
        id: 
          type: "string"
        type: 
          type: "string"
          enum: 
            - "SOURCE"
            - "SECURITY_PROVIDER"
    ScheduleFrequency: 
      type: "object"
      properties: 
        hourMinute: 
          $ref: "#/definitions/HourMinutePair"
        monthDay: 
          type: "integer"
          format: "int32"
        type: 
          type: "string"
          enum: 
            - "MINUTELY"
            - "HOURLY"
            - "DAILY"
            - "WEEKLY"
            - "MONTHLY"
        value: 
          type: "integer"
          format: "int32"
        weekDays: 
          type: "array"
          items: 
            type: "string"
            enum: 
              - "MONDAY"
              - "TUESDAY"
              - "WEDNESDAY"
              - "THURSDAY"
              - "FRIDAY"
              - "SATURDAY"
              - "SUNDAY"
    NextOperation: 
      type: "object"
      properties: 
        operationType: 
          type: "string"
          enum: 
            - "REBUILD"
            - "FULL_REFRESH"
            - "INCREMENTAL_REFRESH"
            - "DELETION"
            - "SECURITY_CACHE_REFRESH"
            - "SECURITY_CACHE_REFRESH_ENTITIES_IN_ERROR"
        timestamp: 
          type: "integer"
          format: "int64"
    UserIdentity: 
      type: "object"
      properties: 
        name: 
          type: "string"
        password: 
          type: "string"
        userName: 
          type: "string"
    SecurityCacheLastRefreshOperationModel: 
      type: "object"
      properties: 
        errorCode: 
          type: "string"
        id: 
          type: "string"
        numberOfEntitiesProcessed: 
          type: "integer"
          format: "int32"
        operationType: 
          type: "string"
          enum: 
            - "REBUILD"
            - "FULL_REFRESH"
            - "INCREMENTAL_REFRESH"
            - "DELETION"
            - "SECURITY_CACHE_REFRESH"
            - "SECURITY_CACHE_REFRESH_ENTITIES_IN_ERROR"
        result: 
          type: "string"
        timestamp: 
          type: "integer"
          format: "int64"
    SecurityProviderCurrentStatusModel: 
      type: "object"
      properties: 
        numberOfEntitiesInError: 
          type: "integer"
          format: "int32"
        numberOfEntitiesProcessed: 
          type: "integer"
          format: "int32"
        refreshType: 
          type: "string"
          enum: 
            - "REBUILD"
            - "FULL_REFRESH"
            - "INCREMENTAL_REFRESH"
            - "DELETION"
            - "SECURITY_CACHE_REFRESH"
            - "SECURITY_CACHE_REFRESH_ENTITIES_IN_ERROR"
        totalNumberOfEntities: 
          type: "integer"
          format: "int32"
        type: 
          type: "string"
          enum: 
            - "CREATING"
            - "DISABLED"
            - "DELETING"
            - "REFRESHING"
            - "PAUSED"
            - "IDLE"
            - "ERROR"
            - "PUSH_READY"
            - "PAUSING"
            - "RESUMING"
            - "CANCELING_REFRESH"
    HourMinutePair: 
      type: "object"
      properties: 
        hour: 
          type: "integer"
          format: "int32"
        minute: 
          type: "integer"
          format: "int32"
    PageModel«SecurityCacheMemberModel»: 
      type: "object"
      properties: 
        items: 
          type: "array"
          items: 
            $ref: "#/definitions/SecurityCacheMemberModel"
        totalEntries: 
          type: "integer"
          format: "int64"
        totalPages: 
          type: "integer"
          format: "int32"
    ParameterModel: 
      type: "object"
      properties: 
        sensitive: 
          type: "boolean"
        value: 
          type: "string"
    RawSecurityProviderConfig: 
      type: "object"
      properties: 
        caseSensitive: 
          type: "boolean"
        dataFiles: 
          type: "object"
          additionalProperties: 
            $ref: "#/definitions/DataFile"
        dbConnectionString: 
          type: "string"
        displayName: 
          type: "string"
        indexIdentifier: 
          type: "string"
        name: 
          type: "string"
        nodeRequired: 
          type: "boolean"
        parameters: 
          type: "object"
          additionalProperties: 
            $ref: "#/definitions/Parameter"
        securityProviders: 
          type: "object"
          additionalProperties: 
            $ref: "#/definitions/SecurityProvider"
        type: 
          type: "string"
          enum: 
            - "ACTIVE_DIRECTORY"
            - "ACTIVE_DIRECTORY_WITHOUT_EXPANSION"
            - "ALFRESCO"
            - "BOX"
            - "CLAIMS"
            - "CLAIMS_TO_EMAIL"
            - "CONFLUENCE"
            - "CONFLUENCE2"
            - "CUSTOM"
            - "DATABASE"
            - "DROPBOX_FOR_BUSINESS"
            - "EMAIL"
            - "EXCHANGE"
            - "EXPANDED"
            - "FILE_SYSTEM"
            - "GOOGLE_DRIVE_DOMAIN_WIDE"
            - "JIRA2"
            - "JIRA_LEGACY"
            - "JIVE"
            - "LDAP"
            - "LIFERAY"
            - "MICROSOFT_DYNAMICS"
            - "MICROSOFT_DYNAMICS_LEGACY"
            - "OFFICE365"
            - "OPENTEXT_CONTENT_SERVER"
            - "ORACLE_KNOWLEDGE"
            - "ORACLE_UCM"
            - "SALESFORCE"
            - "SALESFORCE_LEGACY"
            - "SHAREPOINT"
            - "SITECORE"
            - "SITECORE_LEGACY"
            - "WEBSPHERE_WCM"
            - "WINDCHILL"
            - "YAMMER"
        userIdentities: 
          type: "object"
          additionalProperties: 
            $ref: "#/definitions/UserIdentity"
    SIDModel: 
      type: "object"
      properties: 
        data: 
          type: "string"
        provider: 
          type: "string"
    SecurityProvider: 
      type: "object"
      properties: 
        name: 
          type: "string"
        typeName: 
          type: "string"
    SecurityCacheCurrentStatusModel: 
      type: "object"
      properties: 
        numberOfEntitiesInError: 
          type: "integer"
          format: "int32"
        numberOfEntitiesProcessed: 
          type: "integer"
          format: "int32"
        refreshType: 
          type: "string"
          enum: 
            - "REBUILD"
            - "FULL_REFRESH"
            - "INCREMENTAL_REFRESH"
            - "DELETION"
            - "SECURITY_CACHE_REFRESH"
            - "SECURITY_CACHE_REFRESH_ENTITIES_IN_ERROR"
        totalNumberOfEntities: 
          type: "integer"
          format: "int32"
        type: 
          type: "string"
          enum: 
            - "CREATING"
            - "DISABLED"
            - "DELETING"
            - "REFRESHING"
            - "PAUSED"
            - "IDLE"
            - "ERROR"
            - "PUSH_READY"
            - "PAUSING"
            - "RESUMING"
            - "CANCELING_REFRESH"
    Parameter: 
      type: "object"
      properties: 
        sensitive: 
          type: "boolean"
        value: 
          type: "string"
    SecurityCacheMemberInfoModel: 
      type: "object"
      properties: 
        key: 
          type: "string"
        value: 
          type: "string"
    SecurityCacheStatisticsModel: 
      type: "object"
      properties: 
        numberOfEntitiesByState: 
          type: "object"
          additionalProperties: 
            type: "integer"
            format: "int32"
        numberOfEntitiesInError: 
          type: "integer"
          format: "int32"
        numberOfPermissionModels: 
          type: "integer"
          format: "int32"
        numberOfProviders: 
          type: "integer"
          format: "int32"
        totalNumberOfEntities: 
          type: "integer"
          format: "int32"
    SecurityProviderLastRefreshOperationModel: 
      type: "object"
      properties: 
        errorCode: 
          type: "string"
        id: 
          type: "string"
        numberOfEntitiesProcessed: 
          type: "integer"
          format: "int32"
        operationType: 
          type: "string"
          enum: 
            - "REBUILD"
            - "FULL_REFRESH"
            - "INCREMENTAL_REFRESH"
            - "DELETION"
            - "SECURITY_CACHE_REFRESH"
            - "SECURITY_CACHE_REFRESH_ENTITIES_IN_ERROR"
        result: 
          type: "string"
        timestamp: 
          type: "integer"
          format: "int64"

