---
  swagger: "2.0"
  info: 
    description: "API for Coveo Platform"
    title: "Coveo Platform API"
    termsOfService: "Coveo API terms of service"
    contact: 
      name: "Coveo"
      url: "www.coveo.com"
      email: "support@coveo.com"
    license: {}
  host: "platformdev.cloud.coveo.com:443"
  basePath: "/"
  tags: 
    - 
      name: "Token Retriever"
      description: "Token Retriever Service Resource"
    - 
      name: "Global Sources"
      description: "Global Source Service Resource"
    - 
      name: "Mappings"
      description: "Mapping Resource"
    - 
      name: "Sources"
      description: "Operations specific to fields in sources"
    - 
      name: "Salesforce Source Configuration"
      description: "Salesforce Source Config Resource"
    - 
      name: "Default Mappings"
      description: "Default Mapping Service Resource"
    - 
      name: "Source Extensions"
      description: "Source Extension Service Resource"
  paths: 
    /rest/defaultmappings/versions/{version}/sourceType/{sourceType}: 
      get: 
        tags: 
          - "Default Mappings"
        summary: "Get default mappings for specified version and source type"
        operationId: "getDefaultSourceMappingsByVersionUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "version"
            in: "path"
            description: "version"
            required: true
            type: "string"
          - 
            name: "sourceType"
            in: "path"
            description: "sourceType"
            required: true
            type: "string"
            enum: 
              - "AMAZONS3"
              - "BOX"
              - "BOX_ENTERPRISE"
              - "CONFLUENCE"
              - "CONFLUENCE2"
              - "CONFLUENCE2_HOSTED"
              - "CUSTOM"
              - "DROPBOX"
              - "DROPBOX_FOR_BUSINESS"
              - "EXCHANGE"
              - "EXCHANGE_ENTERPRISE"
              - "GMAIL"
              - "GMAIL_DOMAIN_WIDE"
              - "GMAIL_SINGLE_USER"
              - "GOOGLE_DRIVE_DOMAIN_WIDE"
              - "GOOGLE_DRIVE_SINGLE_USER"
              - "JIRA2"
              - "JIRA2_HOSTED"
              - "JIVE"
              - "JIVE_HOSTED"
              - "LITHIUM"
              - "MICROSOFT_DYNAMICS"
              - "PUSH"
              - "RSS"
              - "SALESFORCE"
              - "SHAREPOINT_ONLINE"
              - "SITECORE"
              - "SITEMAP"
              - "TWITTER2"
              - "WEB2"
              - "YOUTUBE"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/DefaultSourceMappingsModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "APPLICATION_DEFAULT_PARAMETERS"
          global: "true"
          type: "VIEW"
        uiOperationId: "/rest/defaultmappings/versions/paramId/sourceType/paramId_get"
        x-pretty-name: "getDefaultSourceMappingsByVersion"
    /rest/globalsources: 
      get: 
        tags: 
          - "Global Sources"
        summary: "Get all sources of all organizations"
        operationId: "getAllSourcesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "page"
            in: "query"
            description: "page"
            required: false
            type: "integer"
            default: 0
            format: "int32"
          - 
            name: "perPage"
            in: "query"
            description: "perPage"
            required: false
            type: "integer"
            default: 100
            format: "int32"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/SourceOrganizationModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/globalsources_get"
        x-pretty-name: "getAllSources"
    /rest/organizations/{organizationId}/defaultmappings: 
      get: 
        tags: 
          - "Default Mappings"
        summary: "Get default mappings version for specified organization"
        operationId: "getDefaultMappingsVersionByOrganizationUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/ValueModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/defaultmappings_get"
        x-pretty-name: "getDefaultMappingsVersionByOrganization"
    /rest/organizations/{organizationId}/sources: 
      get: 
        tags: 
          - "Sources"
        summary: "Get all sources"
        operationId: "getSourcesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/SourceModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources_get"
        x-pretty-name: "getSources"
      post: 
        tags: 
          - "Sources"
        summary: "Create a source from simple configuration"
        operationId: "createSourceUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "sourceModel"
            description: "sourceModel"
            required: true
            schema: 
              $ref: "#/definitions/SourceModel"
          - 
            name: "updateSecurityProviders"
            in: "query"
            description: "updateSecurityProviders"
            required: false
            type: "boolean"
            default: true
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: true
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/JsonStringIdWrapper"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources_post"
        x-pretty-name: "createSource"
    /rest/organizations/{organizationId}/sources/fields: 
      get: 
        tags: 
          - "Sources"
        summary: "Get all fields for an organization"
        operationId: "getFieldsUsingGET_1"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "query"
            description: "sourceId"
            required: false
            type: "string"
          - 
            name: "includeMappings"
            in: "query"
            description: "includeMappings"
            required: false
            type: "boolean"
            default: true
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/FieldModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        deprecated: true
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/fields_get"
        x-pretty-name: "getFields"
      post: 
        tags: 
          - "Sources"
        summary: "Creates a field for an organization"
        operationId: "createFieldUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "fieldModel"
            description: "fieldModel"
            required: true
            schema: 
              $ref: "#/definitions/SourceFieldModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/fields_post"
        x-pretty-name: "createField"
    /rest/organizations/{organizationId}/sources/fields/batch/create: 
      post: 
        tags: 
          - "Sources"
        summary: "Creates fields for an organization"
        operationId: "createFieldsUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "fieldModels"
            description: "fieldModels"
            required: true
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/SourceFieldModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/fields/batch/create_post"
        x-pretty-name: "createFields"
    /rest/organizations/{organizationId}/sources/fields/batch/delete: 
      delete: 
        tags: 
          - "Sources"
        summary: "Removes fields from an organization"
        operationId: "removeFieldsUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "fields"
            in: "query"
            description: "fields"
            required: true
            type: "array"
            items: 
              type: "string"
            collectionFormat: "multi"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/fields/batch/delete_delete"
        x-pretty-name: "removeFields"
    /rest/organizations/{organizationId}/sources/fields/batch/update: 
      put: 
        tags: 
          - "Sources"
        summary: "Update a field for an organization"
        operationId: "updateFieldsUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "fieldModels"
            description: "fieldModels"
            required: true
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/SourceFieldModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/fields/batch/update_put"
        x-pretty-name: "updateFields"
    /rest/organizations/{organizationId}/sources/fields/{fieldId}: 
      get: 
        tags: 
          - "Sources"
        summary: "Get a single field for an organization"
        operationId: "getFieldUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "fieldId"
            in: "path"
            description: "fieldId"
            required: true
            type: "string"
          - 
            name: "includeMappings"
            in: "query"
            description: "includeMappings"
            required: false
            type: "boolean"
            default: true
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/FieldModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/fields/paramId_get"
        x-pretty-name: "getField"
      put: 
        tags: 
          - "Sources"
        summary: "Update a field for an organization"
        operationId: "updateFieldUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "fieldId"
            in: "path"
            description: "fieldId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "fieldModel"
            description: "fieldModel"
            required: true
            schema: 
              $ref: "#/definitions/SourceFieldModel"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/fields/paramId_put"
        x-pretty-name: "updateField"
      delete: 
        tags: 
          - "Sources"
        summary: "Removes a specific field from an organization"
        operationId: "removeFieldUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "fieldId"
            in: "path"
            description: "fieldId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/fields/paramId_delete"
        x-pretty-name: "removeField"
    /rest/organizations/{organizationId}/sources/page/fields: 
      get: 
        tags: 
          - "Sources"
        summary: "Get a page of fields for an organization"
        operationId: "getFieldsUsingGET_2"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "includeMappings"
            in: "query"
            description: "includeMappings"
            required: false
            type: "boolean"
            default: true
          - 
            name: "type"
            in: "query"
            description: "type"
            required: false
            type: "string"
            enum: 
              - "LONG"
              - "LONG_64"
              - "DOUBLE"
              - "DATE"
              - "STRING"
          - 
            name: "filter"
            in: "query"
            description: "filter"
            required: false
            type: "string"
          - 
            name: "sortBy"
            in: "query"
            description: "sortBy"
            required: false
            type: "string"
            default: "name"
          - 
            name: "order"
            in: "query"
            description: "order"
            required: false
            type: "string"
            default: "ASC"
          - 
            name: "page"
            in: "query"
            description: "page"
            required: false
            type: "integer"
            default: 0
            format: "int32"
          - 
            name: "perPage"
            in: "query"
            description: "perPage"
            required: false
            type: "integer"
            default: 100
            format: "int32"
          - 
            name: "origin"
            in: "query"
            description: "origin"
            required: false
            type: "string"
            default: "ALL"
            enum: 
              - "ALL"
              - "USER"
              - "SYSTEM"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/FieldModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/page/fields_get"
        x-pretty-name: "getFields"
    /rest/organizations/{organizationId}/sources/raw: 
      post: 
        tags: 
          - "Sources"
        summary: "Create a source from raw configuration"
        operationId: "createRawSourceUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "platformSourceConfig"
            description: "platformSourceConfig"
            required: true
            schema: 
              $ref: "#/definitions/RawSourceConfig"
          - 
            name: "updateSecurityProviders"
            in: "query"
            description: "updateSecurityProviders"
            required: false
            type: "boolean"
            default: true
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: true
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/JsonStringIdWrapper"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/raw_post"
        x-pretty-name: "createRawSource"
    /rest/organizations/{organizationId}/sources/snapshots/{snapshotId}: 
      get: 
        tags: 
          - "Sources"
        summary: "Gets a source config snapshot"
        operationId: "getSnapshotUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "snapshotId"
            in: "path"
            description: "snapshotId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "object"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/snapshots/paramId_get"
        x-pretty-name: "getSnapshot"
    /rest/organizations/{organizationId}/sources/{sourceId}: 
      get: 
        tags: 
          - "Sources"
        summary: "Get a single source"
        operationId: "getSourceUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SourceModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId_get"
        x-pretty-name: "getSource"
      put: 
        tags: 
          - "Sources"
        summary: "Update a source from simple configuration"
        operationId: "updateSourceUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "sourceModel"
            description: "sourceModel"
            required: true
            schema: 
              $ref: "#/definitions/SourceModel"
          - 
            name: "updateSecurityProviders"
            in: "query"
            description: "updateSecurityProviders"
            required: false
            type: "boolean"
            default: true
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: true
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/JsonStringIdWrapper"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId_put"
        x-pretty-name: "updateSource"
      delete: 
        tags: 
          - "Sources"
        summary: "Delete a source"
        operationId: "deleteSourceUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SourceModel"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId_delete"
        x-pretty-name: "deleteSource"
    /rest/organizations/{organizationId}/sources/{sourceId}/applyChanges: 
      post: 
        tags: 
          - "Sources"
        summary: "Apply pending changes on a source"
        operationId: "applyChangesUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          201: 
            description: "Created"
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/applyChanges_post"
        x-pretty-name: "applyChanges"
    /rest/organizations/{organizationId}/sources/{sourceId}/configuration/salesforce/evict: 
      post: 
        tags: 
          - "Sources"
        summary: "Evict the salesforce schema of a source."
        operationId: "evictSchemaForSourceUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/configuration/salesforce/evict_post"
        x-pretty-name: "evictSchemaForSource"
    /rest/organizations/{organizationId}/sources/{sourceId}/configuration/salesforce/objects/{objectName}/fields: 
      get: 
        tags: 
          - "Sources"
        summary: "Get an object fields for a given source."
        operationId: "getFieldsForSourceUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "objectName"
            in: "path"
            description: "objectName"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/SalesforceField"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/configuration/salesforce/objects/paramId/fields_get"
        x-pretty-name: "getFieldsForSource"
    /rest/organizations/{organizationId}/sources/{sourceId}/disable: 
      post: 
        tags: 
          - "Sources"
        summary: "Disable schedules on a source"
        operationId: "disableUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SourceModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/disable_post"
        x-pretty-name: "disable"
    /rest/organizations/{organizationId}/sources/{sourceId}/enable: 
      post: 
        tags: 
          - "Sources"
        summary: "Enable schedules on a source"
        operationId: "enableUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SourceModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/enable_post"
        x-pretty-name: "enable"
    /rest/organizations/{organizationId}/sources/{sourceId}/extensions: 
      get: 
        tags: 
          - "Source Extensions"
        summary: "Get extensions set on a source"
        operationId: "getSourceExtensionsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SourceExtensionsMap"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/extensions_get"
        x-pretty-name: "getSourceExtensions"
      put: 
        tags: 
          - "Source Extensions"
        summary: "Sets the extensions on a source"
        operationId: "setSourceExtensionsUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: false
          - 
            in: "body"
            name: "extensions"
            description: "extensions"
            required: true
            schema: 
              $ref: "#/definitions/SourceExtensionsMap"
        responses: 
          200: 
            description: "OK"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/extensions_put"
        x-pretty-name: "setSourceExtensions"
    /rest/organizations/{organizationId}/sources/{sourceId}/fullRefresh: 
      post: 
        tags: 
          - "Sources"
        summary: "Apply a full refresh operation on a source"
        operationId: "fullRefreshUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SourceModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/fullRefresh_post"
        x-pretty-name: "fullRefresh"
    /rest/organizations/{organizationId}/sources/{sourceId}/incrementalRefresh: 
      post: 
        tags: 
          - "Sources"
        summary: "Apply an incremental refresh operation on a source"
        operationId: "incrementalRefreshUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SourceModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/incrementalRefresh_post"
        x-pretty-name: "incrementalRefresh"
    /rest/organizations/{organizationId}/sources/{sourceId}/light: 
      get: 
        tags: 
          - "Sources"
        summary: "Get a single source"
        operationId: "getLightSourceUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SourceModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/light_get"
        x-pretty-name: "getLightSource"
    /rest/organizations/{organizationId}/sources/{sourceId}/mappings: 
      get: 
        tags: 
          - "Mappings"
        summary: "Get mapping configuration"
        operationId: "getMappingsConfigurationUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/MappingsConfigurationModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings_get"
        x-pretty-name: "getMappingsConfiguration"
      put: 
        tags: 
          - "Mappings"
        summary: "Update mapping configuration"
        operationId: "updateMappingsConfigurationUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: false
          - 
            in: "body"
            name: "mappingsConfiguration"
            description: "mappingsConfiguration"
            required: true
            schema: 
              $ref: "#/definitions/BaseMappingsConfigurationModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/MappingsConfigurationModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings_put"
        x-pretty-name: "updateMappingsConfiguration"
    /rest/organizations/{organizationId}/sources/{sourceId}/mappings/common: 
      get: 
        tags: 
          - "Mappings"
        summary: "Get common mapping configuration"
        operationId: "getCommonMappingSettingsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/CommonMappingSettingsModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/common_get"
        x-pretty-name: "getCommonMappingSettings"
      put: 
        tags: 
          - "Mappings"
        summary: "Update common mapping configuration"
        operationId: "updateCommonMappingSettingsUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: false
          - 
            in: "body"
            name: "commonMappingSettings"
            description: "commonMappingSettings"
            required: true
            schema: 
              $ref: "#/definitions/BaseCommonMappingSettingsModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/CommonMappingSettingsModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/common_put"
        x-pretty-name: "updateCommonMappingSettings"
    /rest/organizations/{organizationId}/sources/{sourceId}/mappings/common/rules: 
      get: 
        tags: 
          - "Mappings"
        summary: "Get all common mapping rules"
        operationId: "getCommonMappingSettingsRulesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/RuleModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/common/rules_get"
        x-pretty-name: "getCommonMappingSettingsRules"
      post: 
        tags: 
          - "Mappings"
        summary: "Add a new common mapping rule"
        operationId: "addCommonMappingSettingsRuleUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: false
          - 
            in: "body"
            name: "ruleModel"
            description: "ruleModel"
            required: true
            schema: 
              $ref: "#/definitions/BaseRuleModel"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/RuleModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/common/rules_post"
        x-pretty-name: "addCommonMappingSettingsRule"
    /rest/organizations/{organizationId}/sources/{sourceId}/mappings/common/rules/{ruleId}: 
      get: 
        tags: 
          - "Mappings"
        summary: "Get a common mapping rule"
        operationId: "getCommonMappingSettingsRuleUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "ruleId"
            in: "path"
            description: "ruleId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/RuleModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/common/rules/paramId_get"
        x-pretty-name: "getCommonMappingSettingsRule"
      put: 
        tags: 
          - "Mappings"
        summary: "Update a common mapping rule"
        operationId: "updateCommonMappingSettingsRuleUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "ruleId"
            in: "path"
            description: "ruleId"
            required: true
            type: "string"
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: false
          - 
            in: "body"
            name: "baseRule"
            description: "baseRule"
            required: true
            schema: 
              $ref: "#/definitions/BaseRuleModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/RuleModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/common/rules/paramId_put"
        x-pretty-name: "updateCommonMappingSettingsRule"
      delete: 
        tags: 
          - "Mappings"
        summary: "Delete a common mapping rule"
        operationId: "deleteCommonMappingSettingsRuleUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "ruleId"
            in: "path"
            description: "ruleId"
            required: true
            type: "string"
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: false
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/common/rules/paramId_delete"
        x-pretty-name: "deleteCommonMappingSettingsRule"
    /rest/organizations/{organizationId}/sources/{sourceId}/mappings/types: 
      get: 
        tags: 
          - "Mappings"
        summary: "Get all item types"
        operationId: "getMappingTypesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/TypedMappingSettingsModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/types_get"
        x-pretty-name: "getMappingTypes"
      post: 
        tags: 
          - "Mappings"
        summary: "Add a new item type"
        operationId: "addMappingTypesUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: false
          - 
            in: "body"
            name: "typedMappingSettings"
            description: "typedMappingSettings"
            required: true
            schema: 
              $ref: "#/definitions/BaseTypedMappingSettingsModel«BaseRuleModel»"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/TypedMappingSettingsModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/types_post"
        x-pretty-name: "addMappingTypes"
    /rest/organizations/{organizationId}/sources/{sourceId}/mappings/types/{typeId}: 
      get: 
        tags: 
          - "Mappings"
        summary: "Get an item type"
        operationId: "getMappingTypeSettingsUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "typeId"
            in: "path"
            description: "typeId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/TypedMappingSettingsModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/types/paramId_get"
        x-pretty-name: "getMappingTypeSettings"
      put: 
        tags: 
          - "Mappings"
        summary: "Update an item type"
        operationId: "updateMappingTypeSettingsUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "typeId"
            in: "path"
            description: "typeId"
            required: true
            type: "string"
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: false
          - 
            in: "body"
            name: "typedMappingSettingsModel"
            description: "typedMappingSettingsModel"
            required: true
            schema: 
              $ref: "#/definitions/BaseTypedMappingSettingsModel«BaseRuleModel»"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/TypedMappingSettingsModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/types/paramId_put"
        x-pretty-name: "updateMappingTypeSettings"
      delete: 
        tags: 
          - "Mappings"
        summary: "Delete an item type"
        operationId: "deleteMappingTypeUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "typeId"
            in: "path"
            description: "typeId"
            required: true
            type: "string"
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: false
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/types/paramId_delete"
        x-pretty-name: "deleteMappingType"
    /rest/organizations/{organizationId}/sources/{sourceId}/mappings/types/{typeId}/rules: 
      get: 
        tags: 
          - "Mappings"
        summary: "Get all mapping rules for an item type"
        operationId: "getMappingTypeSettingRulesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "typeId"
            in: "path"
            description: "typeId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/RuleModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/types/paramId/rules_get"
        x-pretty-name: "getMappingTypeSettingRules"
      post: 
        tags: 
          - "Mappings"
        summary: "Add a new mapping rule for an item type"
        operationId: "addMappingTypeSettingRuleUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "typeId"
            in: "path"
            description: "typeId"
            required: true
            type: "string"
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: false
          - 
            in: "body"
            name: "baseRule"
            description: "baseRule"
            required: true
            schema: 
              $ref: "#/definitions/BaseRuleModel"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/RuleModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/types/paramId/rules_post"
        x-pretty-name: "addMappingTypeSettingRule"
    /rest/organizations/{organizationId}/sources/{sourceId}/mappings/types/{typeId}/rules/{ruleId}: 
      get: 
        tags: 
          - "Mappings"
        summary: "Get a mapping rule for an item type"
        operationId: "getMappingTypeSettingsRuleUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "typeId"
            in: "path"
            description: "typeId"
            required: true
            type: "string"
          - 
            name: "ruleId"
            in: "path"
            description: "ruleId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/RuleModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/types/paramId/rules/paramId_get"
        x-pretty-name: "getMappingTypeSettingsRule"
      put: 
        tags: 
          - "Mappings"
        summary: "Update a mapping rule for an item type"
        operationId: "updateMappingTypeSettingsRuleUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "typeId"
            in: "path"
            description: "typeId"
            required: true
            type: "string"
          - 
            name: "ruleId"
            in: "path"
            description: "ruleId"
            required: true
            type: "string"
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: false
          - 
            in: "body"
            name: "baseRule"
            description: "baseRule"
            required: true
            schema: 
              $ref: "#/definitions/BaseRuleModel"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/RuleModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/types/paramId/rules/paramId_put"
        x-pretty-name: "updateMappingTypeSettingsRule"
      delete: 
        tags: 
          - "Mappings"
        summary: "Delete a mapping rule for an item type"
        operationId: "deleteMappingTypeSettingsRuleUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "typeId"
            in: "path"
            description: "typeId"
            required: true
            type: "string"
          - 
            name: "ruleId"
            in: "path"
            description: "ruleId"
            required: true
            type: "string"
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: false
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/mappings/types/paramId/rules/paramId_delete"
        x-pretty-name: "deleteMappingTypeSettingsRule"
    /rest/organizations/{organizationId}/sources/{sourceId}/pauseRefresh: 
      post: 
        tags: 
          - "Sources"
        summary: "Pause the current refresh operation on a source"
        operationId: "pauseRefreshUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SourceModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/pauseRefresh_post"
        x-pretty-name: "pauseRefresh"
    /rest/organizations/{organizationId}/sources/{sourceId}/pushRefresh: 
      post: 
        tags: 
          - "Sources"
        summary: "Sets the refreshing state of a push source"
        operationId: "setPushRefreshStatusUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "activityOperation"
            in: "query"
            description: "activityOperation"
            required: true
            type: "string"
            enum: 
              - "ORG_PROVISIONING_CHECK"
              - "SOURCE_CREATE"
              - "SOURCE_DELETE"
              - "REBUILD"
              - "FULL_REFRESH"
              - "INCREMENTAL_REFRESH"
              - "IDLE"
              - "ROLLBACK_TO"
              - "REFRESH_CANCEL"
              - "SOURCE_PAUSE"
              - "SOURCE_RESUME"
              - "PUSH_SOURCE_CREATE"
              - "PUSH_CONFIG_CHANGE"
              - "COMMIT"
              - "CREATE"
              - "DELETE"
              - "DISABLE"
              - "DUPLICATE"
              - "ENABLE"
              - "UPDATE"
              - "START"
              - "STOP"
              - "PAUSE"
              - "RESUME"
              - "SYNCHRONIZE"
              - "BACKUP"
              - "RECOVER"
              - "REFRESH"
              - "REFRESH_ENTITIES_IN_ERROR"
              - "REFRESH_ENTITY"
              - "RESIZE"
              - "RESTORE"
              - "IMPORT"
              - "CONFIG_CHANGE"
              - "CONFIG_CREATE"
              - "CHANGE_READ_ONLY"
              - "CHANGE_ONLINE"
              - "TEST"
              - "UPGRADE"
              - "SCHEDULE_CREATE"
              - "SCHEDULE_CHANGE"
              - "SCHEDULE_DELETE"
        responses: 
          200: 
            description: "OK"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/pushRefresh_post"
        x-pretty-name: "setPushRefreshStatus"
    /rest/organizations/{organizationId}/sources/{sourceId}/raw: 
      get: 
        tags: 
          - "Sources"
        summary: "Get the raw configuration of a source"
        operationId: "getRawSourceUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/RawSourceConfig"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/raw_get"
        x-pretty-name: "getRawSource"
      put: 
        tags: 
          - "Sources"
        summary: "Update a source from raw configuration"
        operationId: "updateRawSourceUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "platformSourceConfig"
            description: "platformSourceConfig"
            required: true
            schema: 
              $ref: "#/definitions/RawSourceConfig"
          - 
            name: "updateSecurityProviders"
            in: "query"
            description: "updateSecurityProviders"
            required: false
            type: "boolean"
            default: true
          - 
            name: "rebuild"
            in: "query"
            description: "rebuild"
            required: false
            type: "boolean"
            default: true
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/JsonStringIdWrapper"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/raw_put"
        x-pretty-name: "updateRawSource"
    /rest/organizations/{organizationId}/sources/{sourceId}/rebuild: 
      post: 
        tags: 
          - "Sources"
        summary: "Apply a rebuild operation on a source"
        operationId: "rebuildUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SourceModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/rebuild_post"
        x-pretty-name: "rebuild"
    /rest/organizations/{organizationId}/sources/{sourceId}/resumeRefresh: 
      post: 
        tags: 
          - "Sources"
        summary: "Resume the current refresh operation on a source"
        operationId: "resumeRefreshUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SourceModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/resumeRefresh_post"
        x-pretty-name: "resumeRefresh"
    /rest/organizations/{organizationId}/sources/{sourceId}/schedules: 
      get: 
        tags: 
          - "Sources"
        summary: "Get all source schedules"
        operationId: "getSourceSchedulesUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              type: "array"
              items: 
                $ref: "#/definitions/ScheduleModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "VIEW"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/schedules_get"
        x-pretty-name: "getSourceSchedules"
      post: 
        tags: 
          - "Sources"
        summary: "Create a new schedule for the source"
        operationId: "createSourceScheduleUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "sourceScheduleModel"
            description: "sourceScheduleModel"
            required: true
            schema: 
              $ref: "#/definitions/ScheduleModel"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/ScheduleModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/schedules_post"
        x-pretty-name: "createSourceSchedule"
    /rest/organizations/{organizationId}/sources/{sourceId}/schedules/{scheduleId}: 
      put: 
        tags: 
          - "Sources"
        summary: "Update a source schedule"
        operationId: "updateSourceScheduleUsingPUT"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "scheduleId"
            in: "path"
            description: "scheduleId"
            required: true
            type: "string"
          - 
            in: "body"
            name: "sourceScheduleModel"
            description: "sourceScheduleModel"
            required: true
            schema: 
              $ref: "#/definitions/ScheduleModel"
        responses: 
          201: 
            description: "Created"
            schema: 
              $ref: "#/definitions/ScheduleModel"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/schedules/paramId_put"
        x-pretty-name: "updateSourceSchedule"
      delete: 
        tags: 
          - "Sources"
        summary: "Delete a source schedule"
        operationId: "deleteSourceScheduleUsingDELETE"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "scheduleId"
            in: "path"
            description: "scheduleId"
            required: true
            type: "string"
        responses: 
          204: 
            description: "No Content"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/schedules/paramId_delete"
        x-pretty-name: "deleteSourceSchedule"
    /rest/organizations/{organizationId}/sources/{sourceId}/startRefresh: 
      post: 
        tags: 
          - "Sources"
        summary: "Start a refresh operation on a source"
        operationId: "startRefreshUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SourceModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/startRefresh_post"
        x-pretty-name: "startRefresh"
    /rest/organizations/{organizationId}/sources/{sourceId}/stopRefresh: 
      post: 
        tags: 
          - "Sources"
        summary: "Stop the current refresh operation on a source"
        operationId: "stopRefreshUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
            schema: 
              $ref: "#/definitions/SourceModel"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/stopRefresh_post"
        x-pretty-name: "stopRefresh"
    /rest/organizations/{organizationId}/sources/{sourceId}/tasks/abort: 
      post: 
        tags: 
          - "Sources"
        summary: "Abort a source task related to a given activity."
        operationId: "abortTaskForActivityUsingPOST"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "organizationId"
            in: "path"
            description: "organizationId"
            required: true
            type: "string"
          - 
            name: "sourceId"
            in: "path"
            description: "sourceId"
            required: true
            type: "string"
          - 
            name: "activityId"
            in: "query"
            description: "activityId"
            required: true
            type: "string"
          - 
            name: "abortReason"
            in: "query"
            description: "abortReason"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
          201: 
            description: "Created"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        x-required-privilege: 
          owner: "PLATFORM"
          targetDomain: "SOURCE"
          targetId: "{sourceId}"
          type: "EDIT"
        uiOperationId: "/rest/organizations/paramId/sources/paramId/tasks/abort_post"
        x-pretty-name: "abortTaskForActivity"
    /rest/sourceTokenRetriever/box/personal/authorize: 
      get: 
        tags: 
          - "Token Retriever"
        summary: "Authorize Box Personal"
        operationId: "authorizeBoxPersonalUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "redirect_uri"
            in: "query"
            description: "redirect_uri"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/sourceTokenRetriever/box/personal/authorize_get"
        x-pretty-name: "authorizeBoxPersonal"
    /rest/sourceTokenRetriever/box/personal/tokens: 
      get: 
        tags: 
          - "Token Retriever"
        summary: "Get Box Personal tokens"
        operationId: "getBoxPersonalTokensUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "state"
            in: "query"
            description: "state"
            required: true
            type: "string"
          - 
            name: "code"
            in: "query"
            description: "code"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/sourceTokenRetriever/box/personal/tokens_get"
        x-pretty-name: "getBoxPersonalTokens"
    /rest/sourceTokenRetriever/drive/personal/authorize: 
      get: 
        tags: 
          - "Token Retriever"
        summary: "Authorize Google Drive Personal"
        operationId: "authorizeDrivePersonalUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "redirect_uri"
            in: "query"
            description: "redirect_uri"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/sourceTokenRetriever/drive/personal/authorize_get"
        x-pretty-name: "authorizeDrivePersonal"
    /rest/sourceTokenRetriever/drive/personal/tokens: 
      get: 
        tags: 
          - "Token Retriever"
        summary: "Get Google Drive Personal tokens"
        operationId: "getDrivePersonalTokensUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "state"
            in: "query"
            description: "state"
            required: true
            type: "string"
          - 
            name: "code"
            in: "query"
            description: "code"
            required: true
            type: "string"
        responses: 
          200: 
            description: "OK"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/sourceTokenRetriever/drive/personal/tokens_get"
        x-pretty-name: "getDrivePersonalTokens"
    /rest/sourceTokenRetriever/dropbox/authorize: 
      get: 
        tags: 
          - "Token Retriever"
        summary: "Authorize Dropbox"
        operationId: "authorizeDropboxUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            name: "redirect_uri"
            in: "query"
            description: "redirect_uri"
            required: true
            type: "string"
          - 
            name: "is_for_business"
            in: "query"
            description: "is_for_business"
            required: false
            type: "boolean"
            default: false
        responses: 
          200: 
            description: "OK"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/sourceTokenRetriever/dropbox/authorize_get"
        x-pretty-name: "authorizeDropbox"
    /rest/sourceTokenRetriever/dropbox/tokens: 
      get: 
        tags: 
          - "Token Retriever"
        summary: "Get Dropbox tokens"
        operationId: "getDropboxTokensUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "*/*"
        parameters: 
          - 
            in: "body"
            name: "redirectUri"
            description: "redirectUri"
            required: false
            schema: 
              type: "string"
          - 
            name: "code"
            in: "query"
            description: "code"
            required: true
            type: "string"
          - 
            name: "is_for_business"
            in: "query"
            description: "is_for_business"
            required: false
            type: "boolean"
            default: false
        responses: 
          200: 
            description: "OK"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
        security: 
          - 
            oauth2: 
              - "full"
        uiOperationId: "/rest/sourceTokenRetriever/dropbox/tokens_get"
        x-pretty-name: "getDropboxTokens"
    /rest/sourceTokenRetriever/gmail/authorize: 
      get: 
[...]
