<div id="content-breadcrumb">
    <ul class="breadcrumb-list">
        {% assign path_elements = page.url | split: '/' %}
        {% assign current_path = '' %}
        {% for path_element in path_elements %}
            {% assign current_path = current_path | append: path_element | append: "/" %}
            <li class="breadcrumb-element">
                {% if current_path != '/' %}
                    /
                {% endif %}
                <a class="breadcrumbs-link" href="{{ current_path }}">{% if forloop.index0 == 0 %}<i class="fa fa-home" aria-hidden="true"></i>{% else %}{{ path_element }}{% endif %}</a>
            </li>
        {% endfor %}
    </ul>
</div>