{% include base.html %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
<title>{{ page.title }} | {{ site.site_title }}</title>
<link rel="stylesheet" href="{{base}}/{{ "css/syntax.css" }}">

<link rel="shortcut icon" href="{{ "https://s3.amazonaws.com/coveostatic/CoveoWebsite.png"  }}">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="{{base}}/{{ "css/modern-business.css" }}">
<link rel="stylesheet" href="{{base}}/{{ "css/lavish-bootstrap.css" }}">
<link rel="stylesheet" href="{{base}}/{{ "css/customstyles.css" }}">
<link rel="stylesheet" href="{{base}}/{{ "css/theme-blue.css" }}">

<!-- Coveo Community header styles and fonts -->
<link rel="stylesheet" href="{{base}}/css/headerStyles.css" title="" type="text/css" media="screen" charset="utf-8">
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{{base}}/{{ "js/jquery.navgoco.min.js" }}"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
<script src="{{base}}/{{ "js/toc.js" }}"></script>
<script src="{{base}}/{{ "js/customscripts.js" }}"></script>

<!-- Coveo Community header scripts -->
<link href="https://s3.amazonaws.com/coveostatic/CoveoJsSearchV1.0.318.4/css/CoveoFullSearchNewDesign.css" rel="stylesheet"/>
<script src="https://s3.amazonaws.com/coveostatic/CoveoJsSearchV1.0.318.4/js/CoveoJsSearch.WithDependencies.min.js"></script>
<script src="{{base}}/js/header.js" charset="utf-8"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.url }}">
