{% assign swagger = page.swagger | relative_url %}
{% assign apiName = page.title | escape | split: ' Reference' | first %}

<!-- Setting the ReDoc options (see https://github.com/Rebilly/ReDoc#redoc-tag-attributes) -->
<redoc spec-url='{{swagger}}' scroll-y-offset=0 suppress-warnings lazy-rendering required-props-first ></redoc>
<script src="https://rebilly.github.io/ReDoc/releases/latest/redoc.min.js"></script>

<script>
    // Setting the API title
    var apiName = '{{ apiName }}';
    var apiTitle = '<h2>' + apiName + '</h2>';
    var pageMetadata = `{% include page-toc-and-collection-metadata.liquid %}`;
    var breadcrumb = `{% include breadcrumb-home-collection-toc.liquid %}`;

    // Function to wait for the rendered ReDoc DIV and inject an API title at the top of the ReDoc TOC
    function AddAPITitle() {
        var $ReDocTOC = $('redoc-search > div.search-input-wrap');
        if (!$ReDocTOC.size()) {
            // Loop until ReDoc DIV exits
            window.requestAnimationFrame(AddAPITitle);
        } else {
            console.log('Injecting API title');
            $ReDocTOC.prepend(apiTitle);
        }
    }

    // Function to wait for the rendered ReDoc DIV and inject the breadcrumb above the ReDoc page title
    function AddBreadcrumb() {
        var $ReDocMain = $('div.api-content div.api-info-wrapper');
        if (!$ReDocMain.size()) {
            // Loop until ReDoc DIV exits
            window.requestAnimationFrame(AddBreadcrumb);
        } else {
            console.log('Injecting breadcrumb');
            $ReDocMain.prepend(breadcrumb);
        }
    }

    AddAPITitle();
    AddBreadcrumb();
</script>