<ul>
    {% for entry in toc %}
    <li>
        {% assign classes = ""%}
        {% if entry.path == page.url %}{% assign classes = classes | append: "selected " %}{% endif %}
        {% if entry.subentries %}{% assign classes = classes | append: "expanded " %}{% endif %}
        <a href="{{ entry.path }}" {% if classes !="" %}class="{{classes}}"{% endif %}>{{ entry.title }}</a></li>
    {% if entry.subentries %}
        {% assign toc = entry.subentries %}
        {% include toc-full-from-yml.html %}
    {% endif %}
    {% endfor %}
</ul>