.page-content {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $text-color;
  display: block;
  max-width: $content-width;
  padding-left: 0.5*$spacing-unit;
  padding-right: 0.5*$spacing-unit;
  margin-left: auto;
  margin-right: auto;
  h1, h2, h3, h4, h5 {
    color: $CoveoBlue;
    font-weight: 300;
  }
  h1 {font-size: $base-font-size *2;}
  h2 {font-size: $base-font-size *1.75;}
  h3 {font-size: $base-font-size *1.5;}
  h4 {font-size: $base-font-size *1.25;}
  a:-webkit-any-link {
    color: $Blue5;
    text-decoration: none;
  }
  #contentBox {
    margin:0 auto;
    padding: 0;
    width:100%;
    height:100%;
    display: flex;
    #left-panel {
      flex: 1;
      padding: $spacing-unit 0;
      .coveo-docs-toc {
        margin: 0;
        padding:0;
        ul {
          margin: 0;
          padding-left: 0;
          list-style-type: none;
          ul {
            padding-left: $spacing-unit*2/3;
            list-style-type: inherit;
          }
          li {
            padding-left: 0;
            list-style-type: inherit;
            a:-webkit-any-link {
              padding: $spacing-unit/6 $spacing-unit/3 $spacing-unit/6 $spacing-unit;
              position: relative;
              display: block;
              &:hover { background-color: $bottom-header;}
              &.selected {
                color: $text-color-revert;
                background-color: $middle-header;
              }
            }
          }
        }
        .expandable:before,
        .expanded:before,
        .notExpandable:before {
          font-family: FontAwesome;
          position: absolute;
          left: $spacing-unit/3;
          padding-top: 2px;
        }
        .expandable:before {
          content: "\f105";
          padding-left: 2px;
        }
        .expanded:before {
          content: "\f107";
        }
        .notExpandable:before {
          content: "";
        }
      }
    }
    #main-panel {
      flex: 3;
      padding: $spacing-unit;
      article {
        p {

        }
      }
      img {
        max-width: 100%;
      }
      pre.highlight {
        white-space: pre-wrap;
      }
    }
  }
}
#content-breadcrumb {
  ul {
    color: $CoveoGrey6;
    margin: 0;
    padding: $spacing-unit/6 0;
    li {
      display: inline;
      a {
        color: $CoveoGrey6;
      }
    }
  }
}
