.glossary {
  .alphabeticalLinks {
    margin: $spacing-unit * 2 auto;
    padding: $spacing-unit * 0.5 0;
    border-top: 1px solid $Grey4;
    border-bottom: 1px solid $Grey4;
    .letterLinks {
      margin: 0 $spacing-unit * 0.5 0 0;
    }
  }
  .glossaryListContainer {
    margin-top: 2*$spacing-unit;
    padding-bottom: $spacing-unit;
    border-bottom: 1px solid $Grey4;
  }
  .glossaryTerm {
    margin: $spacing-unit 0;
    .partOfSpeech {
      font-style: italic;
      color: $CoveoGrey6;
      padding-left: 0.5*$spacing-unit;
    }
  }
  .glossaryTermTitle {
    font-size: $base-font-size * 1.5;
    font-weight: 300;
    color: $Grey10;
  }
  .glossaryDefinition {
    margin: $spacing-unit;
    p {
      margin-left: $spacing-unit;
      margin-right: $spacing-unit;
    }
    &:before, &:after {
      font-size: $base-font-size * 8;
      width: $spacing-unit;
      color: $Grey4;
      position: relative;
      height: $spacing-unit;
    }
    &:before {
      content: open-quote;
      float: left;
      left: -$spacing-unit;
      Top: -$spacing-unit;
    }
    &:after {
      content: close-quote;
      float: right;
      left: $spacing-unit * 0.5;
      bottom: $spacing-unit * 2;
    }
  }
  .glossaryLetterContainer {
    height: 100%;
    width: 100%;
    padding-left: $spacing-unit;
    .glossaryLetterTerms {
      -webkit-column-width: 15em;
      -moz-column-width: 15em;
      column-width: 15em;
      div {
        break-inside: avoid-column;
        -webkit-column-break-inside: avoid;
        a {
          display: block;
          padding: 5px 10px;
          &:hover {background-color: $bottom-header;}
        }
      }
    }

  }
}