---
layout: default
---
<div id="contentBox">
    <div id="left-panel" >
        <div class="coveo-docs-toc">
        {% comment %}Create TOC from the TOC declared in the front matter when available{% endcomment %}
        {% if page.toc %}
            {% comment %}Initialize the 'toc' variable and call the recursive toc file{% endcomment %}
            {% assign toc = site.data.tocs[page.toc].entries %}
            {% include toc-partial-from-yml.html %}
        {% else %}
            {% include coveo-docs-toc.html %}
        {% endif %}
        </div>
    </div>
    <div id="main-panel" role="main">
        {% include breadcrumb-folder-structure.html %}
        <article class="article">
            <div class="article-content">
                {{ content }}
            </div>
        </article>
    </div>
</div>