---
layout: default
---
{% strip %}

{% include page-toc-and-collection-metadata.liquid %} 

{% comment %} <p>page.path: {{ page.path }}</p>
<p>collectionLabel: {{ collectionLabel }}</p> {% endcomment %}

<div id="contentBox">
    <div id="left-panel" >        
        {% comment %} Create TOC from the YAML TOC for front matter override or collection name {% endcomment %}
        
        {% if page.toc %}
            {% assign toc = site.data.tocs[page.toc].entries %}
            {% if page.toc =='root' %}
                {% include toc-partial-from-yml.liquid %}
            {% else %}
                {% include toc-parent-siblings-children-from-yaml.liquid %}
            {% endif %}
        {% elsif collectionLabel %}
            {% assign toc = site.data.tocs[collectionLabel].entries %} 
            {% include toc-parent-siblings-children-from-yaml.liquid %}
        {% else %}
            {% include toc-partial-from-yml.liquid %}
        {% endif %}
        
    </div>
    <div id="main-panel" role="main">
        {% comment %} Create breadcrumb with home, collection name, and YAML TOC parent entries {% endcomment %}
        {% include breadcrumb-home-collection-toc.liquid %}
        <article class="article">
            <div class="article-content">
                {{ content }}
            </div>
        </article>
    </div>
</div>
{% endstrip %}